.app-content-wrapper(flex style="height: 700px;")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 岗位信息列表
                div(flex)
                span
                    md-dropmenu(ng-init="selectedRows=[]")
                        md-drop-label(ng-click="selectedRows = ctrl.getSelectsIds()")
                            md-button.md-primary.md-raised 导出
                        md-drop-option()
                            md-button(ng-href="/api/positions/export_to_xls") 导出全部岗位
                        md-drop-option(ng-if="selectedRows.length > 0")
                            md-button(
                                nb-download
                                url-prefix="/api/positions/export_to_xls?position_ids=#param#"
                                param-getter="ctrl.getSelectsIds()"
                                href="javascript:;"
                                download
                            ) 导出所选岗位描述书
                        md-drop-option()
                            md-button(ng-href="/api/positions/export_specification_pdf") 导出全部岗位描述书
                        md-drop-option(ng-if="selectedRows.length > 0")
                            md-button(
                                nb-download
                                url-prefix="/api/positions/export_specification_pdf?position_ids=#param#"
                                param-getter="ctrl.getSelectsIds()"
                                href="javascript:;"
                                download
                            ) 导出所选岗位描述书
        div(nb-grid column-defs="ctrl.columnDef" export-api grid-selection safe-src="ctrl.positions")


