.app-content-wrapper(flex style="height: 700px;" ng-controller="ClassSystemCtrl as ctrl")

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工班制列表
                div(flex)
                span
                    md-button.md-primary.md-raised(
                        nb-dialog
                        template-url="/partials/personnel/class_system_new.html"
                        locals="{}"
                    ) 新建员工班制

                span
                    md-button.md-primary.md-raised(
                        has-permission="work_shifts_import"
                        flow-init="{target: '/api/attachments/upload_file', allowDuplicateUploads: true, testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                        flow-files-submitted="ctrl.upload_start=true; $flow.upload(); ctrl.importing=true"
                        flow-file-success="ctrl.upload_start=false;ctrl.uploadClassSystem('班制导入', ctrl.parseJSON($message).id);"
                        flow-btn
                        type="button"
                        ng-disabled="ctrl.importing"
                    ) 班制导入

        div(nb-grid
          column-defs="ctrl.columnDef"
          on-register-api="ctrl.exportGridApi(gridApi)"
          safe-src="ctrl.records")