table.table.table-striped.custom-table
    thead
        tr
            th.has-checkbox
            th 员工编码
            th 姓名
            th 所属部门
            th 岗位
            th 分类
            th 通道
            th 用工性质
            th 入职日期
    tbody
        tr(ng-repeat="emp in newEmps track by emp.id")
            td
                input(type="checkbox" ng-model="row.iSelected")
            td(ng-bind="::emp.employeeNo")
            td.org-post
                //- a(ui-sref="^.detail.basic({empId: emp.id})" ng-bind="emp.name")
                a(
                    nb-dialog="partials/personnel/info_basic.html"
                    nb-dialog-class="ngdialog-theme-panel"
                    nb-dialog-data="emp"
                ) {{emp.name}}
            td(ng-bind="::emp.department.name")
            td(ng-bind="::emp.position.name")
            td(ng-bind="::emp.category.displayName")
            td(ng-bind="::emp.channel.displayName")
            //- TODO 用工性质
            td(ng-bind="::emp.laborRelation.nature.displayName")
            td(ng-bind="::emp.entryDate | nbDate:'yyyy-MM-dd'")
        tr
            td
                
            td
            td
                //- a(ui-sref="^.detail.basic({empId: emp.id})" ng-bind="emp.name")
                //- a() 变更记录
                button.btn.btn-info(title="", nb-popup-plus, position="left-bottom", offset="0.05") 调整机构
                    popup-template.nb-popup.org-default-popup-template.panel.panel-default()
                        .panel-heading.popup-title 组织机构
                        .panel-body.popup-body
                            div(slimscroll height="300px")
                                nb-org-tree(tree-data="allOrgs" ng-model="ctrl.selectOrg")
                        .panel-footer.clearfix.button-group
                            //- div.btn.btn-info.pull-right.btn-submit(popup-close, ng-click="ctrl.posTransfer()") 确 定
                            .btn.btn-info.pull-right.btn-submit(
                                popup-close
                                ng-disabled="!(ctrl.getSelectsIds().length != 0 && (!!ctrl.selectOrg))"
                                nb-confirm="ctrl.posTransfer(isConfirm)"
                                nb-title="您确定要将所选的{{ctrl.getSelectsIds().length}}个岗位，调整到{{ctrl.selectOrg.name}}吗?"
                                nb-text="岗位调整操作将在你点击确定后执行。") 确 定
                            div.btn.btn-default.pull-right(popup-close) 取 消

            td
            td
            td
            td
            //- TODO 用工性质
            td
            td
