.app-content-wrapper(flex style="height: 700px;")

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工人事花名册
                div(flex)
                md-button.md-primary.md-raised(
                        has-permission="employees_create"
                        flow-init="{target: '/api/attachments/upload_file', testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                        flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                        flow-file-success="ctrl.upload_start=false;ctrl.uploadNewEmployees('新员工导入', ctrl.parseJSON($message).id);"
                        flow-btn
                        type="button"
                    ) 新员工导入
                span
                    md-button.md-primary.md-raised(
                        has-permission="employees_create"
                        nb-panel
                        template-url="partials/personnel/personnel_entry.html"
                        locals="{personnelCtrl: ctrl}"
                    ) 新员工入职
                //- md-button.md-primary.md-raised 导出
                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="selectedRows = ctrl.getSelectsIds(); $mdOpenMenu($event)"
                            ) 导出
                        md-menu-content
                            md-menu-item()
                                a.md-button(ng-href="/api/employees/export_to_xls?new_employee=true") 导出全部人员
                            md-menu-item(ng-if="selectedRows.length > 0")
                                a.md-button(
                                    nb-download
                                    url-prefix="/api/employees/export_to_xls?employee_ids=#param#"
                                    param-getter="ctrl.getSelectsIds()"
                                    href="javascript:;"
                                    download
                                ) 导出所选人员
                            md-menu-item(ng-if="selectedRows.length > 0")
                                a.md-button(
                                    nb-download
                                    url-prefix="/api/employees/export_resume?employee_ids=#param#"
                                    param-getter="ctrl.getSelectsIds()"
                                    href="javascript:;"
                                    download
                                ) 导出所选人员履历

        div(
            nb-grid
            column-defs="ctrl.columnDef"
            on-register-api="ctrl.exportGridApi(gridApi)"
            grid-selection
            safe-src="ctrl.employees")








