tabset(flex)
    tab(heading="员工花名册")
        .app-content-wrapper(flex)

            div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
            div.ui-grid-container
                md-toolbar
                    .md-toolbar-tools
                        h2 员工人事花名册
                        div(flex)

                        md-button.md-primary.md-raised(
                            has-permission="employees_transfer_to_regular_worker"
                            flow-init="{target: '/api/attachments/upload_file', allowDuplicateUploads: true, testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                            flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                            flow-file-success="ctrl.upload_start=false;ctrl.uploadPositives('实习批量转正', ctrl.parseJSON($message).id);"
                            flow-btn
                            type="button"
                            ng-disabled="ctrl.importing"
                        ) 实习批量转正

                        md-button.md-primary.md-raised(
                            has-permission="employees_set_leave"
                            ng-disabled="ctrl.getSelected().length != 1 || ctrl.importing"
                            nb-dialog
                            template-url="/partials/personnel/set_leave.html"
                            locals="{employee: ctrl.getSelected()[0], list: ctrl.employees}"
                        ) 人员离职

                        md-button.md-primary.md-raised(
                            has-permission="punishments_create"
                            ng-disabled="ctrl.getSelected().length != 1 || ctrl.importing"
                            nb-dialog
                            template-url="/partials/personnel/punishment.html"
                            locals="{employee: ctrl.getSelected()[0], genre: '处分'}"
                        ) 人员处分

                        md-button.md-primary.md-raised(
                            has-permission="punishments_create"
                            ng-disabled="ctrl.getSelected().length != 1 || ctrl.importing"
                            nb-dialog
                            template-url="/partials/personnel/punishment.html"
                            locals="{employee: ctrl.getSelected()[0], genre: '奖励'}"
                        ) 人员奖励

                        md-button.md-primary.md-raised(
                            has-permission="position_change_records_create"
                            ng-disabled="ctrl.getSelected().length != 1 || ctrl.importing"
                            nb-dialog
                            template-url="/partials/personnel/adjust_position.html"
                            locals="{employee: ctrl.getSelected()[0], empCtrl: ctrl}"
                        ) 员工调岗

                        md-button.md-primary.md-raised(
                            has-permission="employees_change_education"
                            ng-disabled="ctrl.getSelected().length != 1 || ctrl.importing"
                            nb-dialog
                            template-url="/partials/personnel/update_education.html"
                            locals="{employee: ctrl.getSelected()[0], list: ctrl.employees}"
                        ) 学历变更

                        md-button.md-primary.md-raised(
                            ng-disabled="ctrl.importing"
                            has-permission="sort_index"
                            nb-panel
                            template-url="partials/personnel/org_pos_per_sort.html"
                        ) 排序

                        md-menu(ng-init="selectedRows=[]")
                            md-button.md-primary.md-raised(
                                ng-disabled="ctrl.importing"
                                has-permission="employees_export_to_xls|employees_export_resume"
                                ng-click="selectedRows = ctrl.getSelectsIds(); $mdOpenMenu($event)"
                                ) 导出

                            md-menu-content()
                                md-menu-item(has-permission="employees_export_to_xls")
                                    a.md-button(flex ng-href="/api/employees/export_to_xls") 导出全部人员

                                //- md-menu-item(ng-if="ctrl.getSelected().length > 0" has-permission="employees_export_to_xls")
                                md-menu-item(has-permission="employees_export_to_xls")
                                    a.md-button(
                                        nb-download
                                        url-prefix="/api/employees/export_to_xls?employee_ids=#param#"
                                        param-getter="ctrl.getSelectsIds()"
                                        href="javascript:;"
                                        download
                                    ) 导出所选人员

                                //- md-menu-item(ng-if="ctrl.getSelected().length > 0" has-permission="employees_export_resume")
                                md-menu-item(has-permission="employees_export_resume")
                                    a.md-button(
                                        nb-download
                                        url-prefix="/api/employees/export_resume?employee_ids=#param#"
                                        param-getter="ctrl.getSelectsIds()"
                                        href="javascript:;"
                                        download
                                    ) 导出所选人员简历

                div(nb-grid column-defs="ctrl.columnDef"
                    on-register-api="ctrl.exportGridApi(gridApi)"
                    grid-selection
                    safe-src="ctrl.employees")

    tab(heading="离职人员花名册")
        include personnel_leave

    tab(heading="异动人员名册")
        include personnel_move

    tab(heading="调岗待生效列表")
        include adjust_position_waiting
