.app-content-wrapper(flex ng-controller="EarlyRetireEmployeesCtrl as ctrl")

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 退养人员花名册
                div(flex)
                md-button.md-primary.md-raised(
                    has-permission="employees_set_leave"
                    ng-disabled="ctrl.getSelected().length != 1 || ctrl.importing"
                    nb-dialog
                    template-url="/partials/personnel/set_leave.html"
                    locals="{employee: ctrl.getSelected()[0], list: ctrl.earlyRetireEmployees, tableState: ctrl.tableState}"
                ) 人员离职

                md-menu(ng-init="selectedRows=[]" has-permission="early_retire_employees_export_to_xls")
                    md-button.md-primary.md-raised(
                        ng-click="selectedRows = ctrl.getSelectsIds(); $mdOpenMenu($event)"
                        ) 导出
                    md-menu-content
                        md-menu-item()
                            a.md-button(flex ng-href="/api/early_retire_employees/export_to_xls") 导出全部人员
                        md-menu-item(ng-if="selectedRows.length > 0")
                            a.md-button(
                                nb-download
                                url-prefix="/api/early_retire_employees/export_to_xls?leave_employee_ids=#param#"
                                param-getter="ctrl.getSelectsIds()"
                                href="javascript:;"
                                download
                            ) 导出所选人员

        div(nb-grid
          column-defs="ctrl.columnDef"
          on-register-api="ctrl.exportGridApi(gridApi)"
          grid-selection
          safe-src="ctrl.earlyRetireEmployees")