.app-content-wrapper(flex ng-controller="annuityPersonalCtrl as ctrl")

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 年金人员列表
                span(flex)
                md-button.md-primary.md-raised(
                    ng-disabled = "ctrl.start_compute_basic"
                    ng-click="ctrl.computeBasicRecords()"
                    ) 年度基数计算

                md-button.md-primary.md-raised(
                    ng-disabled="!ctrl.getSelected()"
                    nb-dialog
                    template-url="partials/welfares/annuities/personal_number.html"
                    ) 个人基数计算

                md-button.md-primary.md-raised(
                    ng-href="/api/annuities/export_to_xls"
                    download
                    href="javascript:;"
                    ) 导出人员列表

        div(
            nb-grid
            column-defs="ctrl.columnDef"
            export-api
            grid-selection
            grid-edit
            grid-row-edit
            grid-cellNav
            multi-select="false"
            on-register-api="ctrl.initialize(gridApi)"
            safe-src="ctrl.annuities"
            )