.app-content-wrapper(flex ng-controller="salaryPersonalCtrl as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 个人薪酬设置列表

                span(flex)
                span
                    md-button.md-raised.md-primary(
                        flow-init="{target: '/api/attachments/upload_file', testChunks: false, uploadMethod: 'POST', singleFile: true}"
                        flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                        flow-file-success="ctrl.upload_start=false;ctrl.upload_salary_set_book(ctrl.parseJSON($message).id);"
                        flex flow-btn
                    ) 导入当前帐套

        div(
            nb-grid
            column-defs="ctrl.columnDef"
            on-register-api="ctrl.exportGridApi(gridApi)"
            export-api
            grid-selection
            multi-select="false"
            safe-src="ctrl.salaryPersonSetups"
        )