.app-content-wrapper(flex ng-controller="salaryPersonalCtrl as ctrl" ng-init="ctrl.import_finish=true;")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 个人薪酬设置列表
                span(flex)
                md-button.md-primary.md-raised(
                    ng-disabled="!ctrl.import_finish"
                    ng-href="{{ ctrl.exportSSUrl }}"
                    ng-mouseenter="ctrl.exportSalaryUrl()"
                    download
                ) 导 出    
                span
                    md-button.md-raised.md-primary(
                        ng-disabled="!ctrl.import_finish"
                        flow-init="{target: '/api/attachments/upload_file', chunkSize: 10*1024*1024, allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                        flow-files-submitted="ctrl.import_finish=false;$flow.upload();"
                        flow-file-success="ctrl.uploadShareFund(ctrl.parseJSON($message).id);"
                        flex flow-btn
                    ) 导入当前公积金
                span
                    md-button.md-raised.md-primary(
                        ng-disabled="!ctrl.import_finish"
                        flow-init="{target: '/api/attachments/upload_file', chunkSize: 10*1024*1024, allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                        flow-files-submitted="ctrl.import_finish=false;$flow.upload();"
                        flow-file-success="ctrl.uploadSalarySetBook(ctrl.parseJSON($message).id);"
                        flex flow-btn
                    ) 导入当前帐套

        div(
            nb-grid
            column-defs="ctrl.columnDef"
            on-register-api="ctrl.exportGridApi(gridApi)"
            export-api
            grid-selection
            multi-select="false"
            safe-src="ctrl.salaryPersonSetups"
        )