extends ../../component/workflow/index

block heading
    - var user_list = false
    - var flowName = "合同管理"
    - var cust_page = "合同列表"

block cust_page
    .app-content-wrapper(flex style="height: 700px;" ng-controller="ContractCtrl as ctrl")
        div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
        div.ui-grid-container
            md-toolbar
                .md-toolbar-tools
                    h2 合同列表

                    div(style="font-size: 14px; margin-left: 50px;")
                        md-checkbox.md-primary(
                            ng-model="ctrl.show_merged"
                            ng-change="ctrl.changeLoadRule()"
                            ) 是否合并员工合同

                    div(flex)

                    md-button.md-primary.md-raised(
                        ng-if="ctrl.isHrLaborRelationMember()"
                        ng-disabled="!ctrl.getSelected()"
                        nb-confirm="ctrl.leaveJob(ctrl.getSelected(), isConfirm, '劳动关系终止', ctrl.getSelected().id)"
                        nb-title="离职流程发起"
                        nb-content="你确定对该员工发起离职通知单流程，请确认。"
                    ) 合同终止发起离职流程

                    md-button.md-primary.md-raised(
                        ng-if="ctrl.isHrLaborRelationMember()"
                        nb-dialog
                        ng-disabled="!ctrl.getSelected() || ctrl.getSelected().endDate==null"
                        template-url="/partials/labors/contract/renew.html"
                        locals="{contract: ctrl.getSelected()}"
                    ) 发起续签

                    md-button.md-primary.md-raised(
                        nb-panel
                        template-url="/partials/labors/contract/new.html"
                    ) 新建合同

                    md-button.md-raised.md-primary(
                        has-permission="contracts_import"
                        flow-init="{target: '/api/attachments/upload_file', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                        flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                        flow-file-success="ctrl.upload_start=false;ctrl.uploadContract(ctrl.parseJSON($message).id);"
                        flow-btn type="button"
                        ng-disabled="ctrl.calcing"
                    ) 导入合同
            div(
                nb-grid
                multi-select="false"
                export-api
                on-register-api="ctrl.exportGridApi(gridApi)"
                grid-selection column-defs="ctrl.columnDef"
                safe-src="ctrl.contracts"
            )

block user_list_actions
    md-button.md-primary.md-raised(
        ng-disabled="!ctrl.getSelected() || ctrl.getSelected().workflowState != '已生效'"
        nb-panel
        template-url="/partials/labors/contract/new.html"
        locals="{users:getSelecteds()}"
    ) 发起离职流程

    md-button.md-primary.md-raised(
        ng-disabled="!getSelected()"
        nb-dialog
        template-url="/partials/labors/contract/renew.html"
        locals="{users:getSelecteds()}"
    ) 发起续签

    md-button.md-primary.md-raised(
        nb-panel
        template-url="/partials/labors/contract/new.html"
    ) 新建合同