.datas__content__wrapper
	.datas__picker(boss-data-picker)
		.picker__viewport
			ul.picker__list
				li.picker__items
					a(
						ng-click="ctrl.datasType='汇报'"
						ng-class="{'active': ctrl.datasType=='汇报'}"
					) 汇报
				li.picker__items
					a(
						ng-click="ctrl.datasType='公司人员进出'"
						ng-class="{'active': ctrl.datasType=='公司人员进出'}"
						) 公司人员进出

		.picker__prev
			md-icon(md-svg-src="md-toggle-arrow")
		.picker__next
			md-icon(md-svg-src="md-toggle-arrow")

	.datas__window(slimscroll height="500")
		
		//- 汇报 管理上传资料
		.datas__container--reports(ng-if="ctrl.datasType == '汇报'")
			.datas__report(ng-repeat="report in ctrl.reports")
				.report__title(layout)
					.single-ellipsis(flex)
						| {{report.title}}
					.report__date
						| 2016/01/01 10:00
				.report__content
					md-input-container.md-block
						label 正文内容
						textarea(ng-model="report.content" md-maxlength="150" rows="1" readonly)

					md-subheader.accessory-header.mt10 附件
					.accessory-container
						.accessory-cell(ng-repeat="attachment in report.attachments")
							div(ng-if="ctrl.isImgObj(attachment)" nb-gallery img-obj="attachment" style="cursor: pointer;")
								.accessory-name() {{attachment.name}}
								.accessory-size() {{attachment.size | byteFmt:2}}

							div(ng-if="!ctrl.isImgObj(attachment)" style="cursor: pointer;")
								a(
									style="display: block; color: rgba(0,0,0,0.87)"
									ng-href="{{attachment.default}}"
									download
									)
									.accessory-name() {{attachment.name}}
									.accessory-size() {{attachment.size | byteFmt:2}}


		//- 新进离职图标和表格 start
		.datas__container--charts(ng-if="ctrl.datasType == '公司人员进出'")
			div.echarts-wrapper(ng-if="ctrl.initialDataCompleted")
				div.charts-toolbar(layout)
					//- 切换图标和表格
					//- md-button.md-icon-button(ng-hide="ctrl.showChart" ng-click="ctrl.showChart = !ctrl.showChart")
					//- 	md-icon(md-svg-src="/images/svg/insert_chart.svg" style="fill: rgb(33,150,243);")
					//- md-button.md-icon-button(ng-show="ctrl.showChart" ng-click="ctrl.showChart = !ctrl.showChart" style="fill: rgb(33,150,243);")
					//- 	md-icon(md-svg-src="/images/svg/view_list.svg")
					span(flex)
					.date-selector(layout)
						md-select(ng-model="ctrl.currentYear" ng-change="ctrl.loadChartData()" placeholder="请选择")
							md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
						label(flex-order="2") 年
						md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadChartData()" placeholder="请选择")
							md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
						label(flex-order="3") 月

				ng-echarts.echarts-bar(
					ng-if="ctrl.showChart"
					ec-config="ctrl.barConfig"
					ec-option="ctrl.barOption"
				)

				div.chart-detail.ui-grid-container(ng-if="!ctrl.showChart")
					div.chart-detail-toolbar
						md-select(style="width: 150px;" ng-model="ctrl.tableType" placeholder="请选择")
							md-option(value="新进员工") 新进员工
							md-option(value="离职员工") 离职员工

					div.grid-item(ng-show="ctrl.tableType=='新进员工'" nb-grid column-defs="ctrl.columnDefNew" safe-src="ctrl.newEmployees")

					div.grid-item(ng-show="ctrl.tableType=='离职员工'" nb-grid column-defs="ctrl.columnDefLeave" safe-src="ctrl.LeaveEmployees")

		//- 新进离职图标和表格 end


