.app-content-wrapper(flex ng-init="ctrl.loadRecords()")

    div(nb-filter="ctrl.recordsFilterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 请假记录列表
                div(flex)

                md-button.md-primary.md-raised(
                    ng-disabled="!(ctrl.getSelected() && ctrl.getSelected().workflowState !== '已生效' && ctrl.getSelected().workflowState !== '已撤销' && ctrl.getSelected().workflowState !== '已驳回' && ctrl.getSelected().sponsor.$pk !== ctrl.getSelected().receptor.$pk && ctrl.getSelected().sponsor.$pk == ctrl.User.id)"
                    nb-confirm="ctrl.revertLeave(isConfirm, ctrl.getSelected())"
                    nb-title="你是否要撤销所选请假操作?"
                    nb-content="当你点击确定时，你所选的假期申请将被撤销！"
                ) 撤销请假

                md-button.md-primary.md-raised(
                    ng-if="ctrl.isDepartmentHr()"
                    ng-disabled="!ctrl.getSelected()"
                    nb-dialog
                    template-url="partials/labors/attendance/change_leave.html"
                    locals="{leave: ctrl.getSelected(), ctrl: ctrl}"
                ) 假别修正

                md-button.md-primary.md-raised(
                    ng-if="ctrl.isDepartmentHr()"
                    ng-disabled="ctrl.getSelected().type != 'Flow::SickLeaveInjury'"
                    nb-confirm="ctrl.transferToOccupationInjury(ctrl.getSelected())"
                    nb-title="病假（工伤待定）转工伤假"
                    nb-content="你确认要将该病假（工伤待定）转换为工伤假?"
                ) 工伤假

                md-button.md-primary.md-raised(
                    ng-if="ctrl.isDepartmentHr()"
                    ng-disabled="!ctrl.getSelected()"
                    ng-click="ctrl.finishVacation()"
                ) 销假

        div(nb-grid column-defs="ctrl.recodsColumnDef" on-register-api="ctrl.exportGridApi(gridApi)" multi-select="false" grid-selection safe-src="ctrl.tableData")
