.app-content-wrapper(flex ng-controller="AttendanceRecordCtrl as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工花名册
                span(flex)
                span
                    md-menu(ng-if="ctrl.isDepartmentHr()")
                        md-button.md-primary.md-raised(ng-click="$mdOpenMenu($event)" ng-disabled="!ctrl.getSelected()") 代请假
                        md-menu-content
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/matter_leave.html") 事假
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '男'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/nurse_leave.html") 生育护理假
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/sick_leave.html") 病假
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/sick_leave1.html") 病假(工伤待定)
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/dead_leave.html") 丧假
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave.html") 产假
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave1.html") 产假(母乳喂养)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave2.html") 产假(剖腹产、难产)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave3.html") 产假(晚育)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave4.html") 产假(多胞胎)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave5.html") 产假(流产)

                md-button.md-primary.md-raised(
                     ng-if="ctrl.isDepartmentHr()"
                    ng-disabled="!ctrl.getSelected()"
                    nb-dialog
                    template-url="/partials/labors/attendance/new.html"
                    locals="{current: ctrl.getSelected()}"
                ) 新增考勤

        div(
            nb-grid
            column-defs="ctrl.columnDef"
            multi-select="false"
            export-api
            on-register-api="ctrl.exportGridApi(gridApi); ctrl.initialize(gridApi)"
            grid-selection
            safe-src="ctrl.employees"
            grid-edit
            grid-row-edit
            grid-cellNav
            )




