.app-content-wrapper(flex ng-controller="AttendanceRecordCtrl as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 员工花名册
                span(flex)
                span
                    md-menu(ng-if="ctrl.isDepartmentHr()")
                        md-button.md-primary.md-raised(ng-click="$mdOpenMenu($event)" ng-disabled="!ctrl.getSelected() || ctrl.importing") 代请假
                        md-menu-content
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/matter_leave.html") 事假
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '男'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/nurse_leave.html") 生育护理假
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/sick_leave.html") 病假
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/sick_leave1.html") 病假(工伤待定)
                            md-menu-item()
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/dead_leave.html") 丧假
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave.html") 产假
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave1.html") 产假(母乳喂养)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave2.html") 产假(剖腹产、难产)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave3.html") 产假(晚育)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave4.html") 产假(多胞胎)
                            md-menu-item(ng-if="$enum.parseLabel(ctrl.getSelected().genderId, 'genders') == '女'")
                                a.md-button(
                                    ng-click="$mdMenu.hide()"
                                    nb-panel
                                    locals="{receptor: ctrl.getSelected()}"
                                    template-url="partials/self/my_requests/leave/abortion_leave5.html") 产假(流产)

                md-button.md-primary.md-raised(
                    ng-if="ctrl.isDepartmentHr()"
                    ng-disabled="!ctrl.getSelected() || ctrl.importing"
                    nb-dialog
                    template-url="/partials/labors/attendance/new.html"
                    locals="{current: ctrl.getSelected()}"
                ) 新增考勤

                md-button.md-primary.md-raised(
                    has-permission="special_states_temporarily_train"
                    nb-dialog
                    ng-disabled="!ctrl.getSelected() || ctrl.importing"
                    template-url="/partials/labors/attendance/train.html"
                    locals="{current: ctrl.getSelected()}"
                ) 离岗培训

                md-button.md-primary.md-raised(
                    ng-disabled="ctrl.importing"
                    has-permission="special_states_temporarily_stop_air_duty"
                    nb-dialog
                    template-url="partials/personnel/move/stop_flight.html"
                ) 空勤停飞设置

                md-button.md-primary.md-raised(
                    ng-disabled="ctrl.importing"
                    has-permission="special_states_temporarily_transfer"
                    nb-dialog
                    template-url="partials/personnel/move/borrow.html"
                ) 借调设置

                md-button.md-primary.md-raised(
                    ng-disabled="ctrl.importing"
                    has-permission="special_states_temporarily_defend"
                    nb-dialog
                    template-url="partials/personnel/move/accredit.html"
                ) 派驻设置

                md-button.md-primary.md-raised(
                    ng-disabled="ctrl.importing"
                    has-permission="special_states_temporarily_business_trip"
                    nb-dialog
                    template-url="partials/personnel/move/on_business.html"
                ) 新增出差

                md-button.md-primary.md-raised(
                    has-permission="vacation_import_annual_days"
                    flow-init="{target: '/api/attachments/upload_file', allowDuplicateUploads: true, testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                    flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                    flow-file-success="ctrl.upload_start=false;ctrl.uploadAnnualDays('年假导入', ctrl.parseJSON($message).id);"
                    flow-btn
                    type="button"
                    ng-disabled="ctrl.importing"
                ) 年假导入
                

        div(
            nb-grid
            column-defs="ctrl.columnDef"
            multi-select="false"
            export-api
            on-register-api="ctrl.exportGridApi(gridApi); ctrl.initialize(gridApi)"
            grid-selection
            safe-src="ctrl.employees"
            grid-edit
            grid-row-edit
            grid-cellNav
            )




