.self-info-content(layout="row" flex)
    .personnel-menu.md-whiteframe-z1
        .avator
            a.resume-icon.md-whiteframe-z1(
                href="javascript:;"
                nb-dialog
                template-url="partials/self/self_resume.html"
                locals="{currentUser:currentUser}"
            )
            .avator-area(
                nb-dialog="partials/self/self_info_basic/avator_upload.tpl.html"
                nb-dialog-scope="this"
                style="cursor: pointer;"
            )
                img(ng-src="{{currentUser.favicon}}")
            h3(ng-bind="currentUser.$cmStatus.name")
            p(ng-bind="currentUser.employeeNo")
            //- input(type="file" nv-file-select="" uploader="uploader")
        .personnel-info-list
            ul
                li(ui-sref-active="active")
                    a(ui-sref=".profile")
                        | 基本信息
                li(ui-sref-active="active")
                    a(ui-sref=".members")
                        | 家庭成员
                li(ui-sref-active="active")
                    a(ui-sref=".education")
                        | 教育经历
                li(ui-sref-active="active")
                    a(ui-sref=".experience")
                        | 工作经历
                li(ui-sref-active="active")
                    a(ui-sref=".attendance")
                        | 我的考勤
                li
                    a
                        | 任职记录
                li
                    a
                        | 培训记录
                li
                    a
                        | 奖惩记录
                li
                    a
                        | 考勤信息
                li
                    a
                        | 绩效考核
                li
                    a
                        | 档案信息
                //- li(ui-sref-active="active")
                //-     a(nb-dialog="partials/")
                //-         | 个人履历

    .personnel-content.self-info-content()
        div(ui-view="")

        //- include info_basic
        //- include info_detail



