.self-info-container
    .self-info-hd.md-whiteframe-z1
        .avator
            a.resume-icon(
                href="javascript:;"
                nb-dialog
                template-url="partials/self/self_resume.html"
                locals="{currentUser:currentUser}"
            )
            .avator-area
                img(ng-src="{{currentUser.favicon.middle}}")
                .edit-icon-container(
                    nb-dialog
                    template-url="partials/self/self_info_basic/avator_upload.tpl.html"
                    nb-dialog-scope="this"
                    nb-dialog-class="ngdialog-theme-plain cust-avator-dialog-width"
                )
            h3(ng-bind="currentUser.$cmStatus.name")
            p(ng-bind="currentUser.employeeNo")

    .self-info-bd.md-whiteframe-z1(layout)
        .personnel-info-list
            ul
                li(ui-sref-active="active")
                    a(ui-sref=".profile")
                        | 基本信息
                li(ui-sref-active="active")
                    a(ui-sref=".members")
                        | 家庭成员
                li(ui-sref-active="active")
                    a(ui-sref=".education")
                        | 教育经历
                li(ui-sref-active="active")
                    a(ui-sref=".experience")
                        | 工作经历
                li
                    a
                        | 任职记录
                li
                    a
                        | 培训记录
                li(ui-sref-active="active")
                    a(ui-sref=".reward_punishment")
                        | 奖惩记录
                li(ui-sref-active="active")
                    a(ui-sref=".attendance")
                        | 考勤信息
                li(ui-sref-active="active")
                    a(ui-sref=".performance")
                        | 绩效考核
                li
                    a
                        | 档案信息

        .personnel-content(flex)
            div(ui-view="")

        //- include info_basic
        //- include info_detail