.workflow.md-background(md-theme="hrms"
    ng-init="allege = panel.allege;\
        request = {};\
        allege.$refresh();\
        outerScope = panel.outerScope;\
        Performance = panel.Performance;\
        Employee = panel.Employee;\
        performanceAttachs = Performance.$new(allege.performanceId).attachments.$fetch();\
        receptor = Employee.$find(allege.employeeId);\
    "
)
    md-toolbar.md-warn(md-theme="hrms")
        .md-toolbar-tools
            span 绩效申述
    .personnel-content.personnel-control
        section.personnel-info-section
            md-content.nb-card-container(layout="column" md-theme="hrms")
                form(ng-submit="allege.$update(request); panel.close();")
                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1
                        flow-user-info(receptor="receptor")
                        .flow-relations
                            div.flow-info-row(layout)
                                .flow-info-cell(flex)
                                    .flow-cell-title 通道
                                    .flow-cell-content {{receptor.channelId | enum: 'channels'}}
                                .flow-info-cell(flex)
                                    .flow-cell-title 用工性质
                                    .flow-cell-content {{receptor.laborRelationId | enum: 'labor_relations'}}
                            div.flow-info-row(layout)
                                .flow-info-cell(flex)
                                    .flow-cell-title 考核时段
                                    .flow-cell-content {{::allege.assessTime | date: 'yyyy-MM'}}
                                .flow-info-cell(flex)
                                    .flow-cell-title 绩效
                                    .flow-cell-content {{::allege.result}}

                        md-subheader.accessory-header.md-background.md-hue-1 附件
                        .accessory-container
                            .accessory-cell(ng-repeat="attachment in performanceAttachs")
                                div(ng-if="ctrl.isImgObj(attachment)" nb-gallery img-obj="attachment" style="cursor: pointer;")
                                    .accessory-name(ng-bind="attachment.name")
                                    .accessory-size(ng-bind="attachment.size | byteFmt:2")
                                div(ng-if="!ctrl.isImgObj(attachment)" style="cursor: pointer;")
                                    a(
                                    style="display: block; color: rgba(0,0,0,0.87)"
                                    ng-href="{{attachment.default}}"
                                    download
                                    )
                                        .accessory-name(ng-bind="attachment.name")
                                        .accessory-size(ng-bind="attachment.size | byteFmt:2")

                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1 申述理由
                        fieldset
                            div(layout)
                                md-input-container(flex)
                                    //- label 申述理由
                                    textarea(ng-model="allege.reason" columns="1" md-maxlength="2000" disabled)

                    md-card.form-material-section.nb-card
                        md-subheader.md-background.md-hue-1(style="margin-bottom: 20px;") 处理附件
                        .accessory-container
                            .accessory-cell(ng-repeat="attachment in allege.allegeAttachments")
                                div(ng-if="ctrl.isImgObj(attachment)" nb-gallery img-obj="attachment" style="cursor: pointer;")
                                    .accessory-name(ng-bind="attachment.name")
                                    .accessory-size(ng-bind="attachment.size | byteFmt:2")
                                    .accessory-switch
                                        md-button.md-icon-button(ng-click="allege.attachments.$new(attachment.id).$destroy()")
                                            md-icon.md-warn(md-svg-src="/images/svg/close.svg")
                                div(ng-if="!ctrl.isImgObj(attachment)" style="cursor: pointer;")
                                    a(
                                    style="display: block; color: rgba(0,0,0,0.87)"
                                    ng-href="{{attachment.default}}"
                                    download
                                    )
                                        .accessory-name(ng-bind="attachment.name")
                                        .accessory-size(ng-bind="attachment.size | byteFmt:2")
                                        .accessory-switch
                                            md-button.md-icon-button(ng-click="allege.attachments.$new(attachment.id).$destroy()")
                                                md-icon.md-warn(md-svg-src="/images/svg/close.svg")

                        .accessory-btn-group(
                            flow-init="{target:'/api/alleges/' + allege.id +'/attachments', testChunks:false, uploadMethod:'POST', singleFile:true}"
                            flow-files-submitted="$flow.upload()"
                            flow-file-success="allege.allegeAttachments.push(outerScope.ctrl.parseJSON($message).allege_attachment)"
                        )
                            md-button.md-primary.md-raised(flow-btn type="button" ng-if="!allege.isManaged") 添加文件

                    md-card.form-material-section.nb-card.performance-result(ng-if="!allege.isManaged")
                        md-subheader.md-background.md-hue-1 处理结果
                        md-radio-group(ng-model="request.outcome" ng-change="request.result=null")
                            md-radio-button.md-primary(value="通过") 通过
                            md-radio-button.md-primary(value="驳回") 驳回
                        fieldset(ng-if="request.outcome=='通过'")
                            div(layout)
                                md-input-container.row-has-value(flex)
                                    label 绩效调整为
                                    md-select(ng-model="request.result" ng-required="request.outcome=='通过'")
                                        md-option(value="合格") 合格
                                        md-option(value="不合格") 不合格
                                        md-option(value="良好") 良好
                                div(flex)
                    md-card.form-material-section.nb-card.performance-result(ng-if="allege.isManaged")
                        md-subheader.md-background.md-hue-1 处理结果
                        fieldset
                            div(layout)
                                md-input-container.row-has-value(flex)
                                    label 处理结果
                                    input(ng-model="allege.outcome" readonly)
                                md-input-container.row-has-value(flex ng-if="allege.outcome=='通过'")
                                    label 绩效调整为
                                    input(ng-model="allege.result" readonly)

                    .form-bottom-group(layout)
                        span(flex)
                        md-button.md-raised.white(type="button" ng-click="panel.close()") 取消
                        md-button.md-primary.md-raised(ng-disabled="!request.outcome" type="submit" ng-if="!allege.isManaged") 确定









