md-dialog.employee_move(ng-controller="EditableResourceCtrl" style="min-width: 400px;")
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span 工作餐变动处理
    form(ng-submit="save(change.$save(), change_deal_form, ctrl.changes); dialog.close();" name="change_deal_form")
        md-content(ng-init=" ctrl = dialog.ctrl; change = dialog.change.$refresh();")
            fieldset
                //- 基本信息部分：分类
                div(ng-if="change.changeCategory == '新进员工' || change.changeCategory == '岗位变动' || change.changeCategory == '属地变动'")
                    include change_category/new_entry
                div(ng-if="change.changeCategory == '长期请假'")
                    include change_category/leave
                div(ng-if="change.changeCategory == '长期离岗培训'")
                    include change_category/train
                div(ng-if="change.changeCategory == '空勤停飞'")
                    include change_category/fly_stop
                div(ng-if="change.changeCategory == '长期派驻' || change.changeCategory == '长期派驻回归'")
                    include change_category/accredit
                div(ng-if="change.changeCategory == '人员借调' || change.changeCategory == '人员借调回归'")
                    include change_category/borrow
                //- 工作餐编辑部门
                div()
                    div(layout)
                        md-input-container.row-has-value(flex)
                            label 班制
                            md-select(
                                ng-model="change.dinnerPersonSetups[0].shiftsType"
                                required)
                                md-option(value="行政班") 行政班
                                md-option(value="两班倒") 两班倒
                                md-option(value="三班倒") 三班倒
                                md-option(value="四班倒") 四班倒
                                md-option(value="空勤") 空勤
                        md-input-container.row-has-value(flex)
                            label 餐费区域
                            md-select(
                                ng-model="change.dinnerPersonSetups[0].area"
                                required
                                    )
                                md-option(ng-value="area" ng-repeat="area in ctrl.areas") {{area}}

                    div(layout)
                        md-input-container(flex)
                            label 卡金额
                            input(ng-model="change.dinnerPersonSetups[0].cardAmount" required type="number")
                        md-input-container(flex)
                            label 现金
                            input(ng-model="change.dinnerPersonSetups[0].workingFee" required type="number")

                    div(layout)
                        md-input-container(flex)
                            label 早餐次数
                            input(ng-model="change.dinnerPersonSetups[0].breakfastNumber" required type="number")
                        md-input-container(flex)
                            label 午餐次数
                            input(ng-model="change.dinnerPersonSetups[0].lunchNumber" required type="number")
                        md-input-container(flex)
                            label 晚餐次数
                            input(ng-model="change.dinnerPersonSetups[0].dinnerNumber" required type="number")
                //- 增加双区域按钮
                div(
                    layout
                    ng-init="ctrl.secondCard = false"
                    ng-if="!ctrl.secondCard && change.dinnerPersonSetups.length < 2"
                    )
                    md-button.md-icon-button(
                        type="button"
                        ng-click="ctrl.secondCard = true"
                        )
                        md-icon(md-svg-icon="../../images/svg/plus.svg")
                //- 工作餐第二区域编辑部分
                div(ng-if="change.dinnerPersonSetups.length >= 2 || ctrl.secondCard")
                    div(layout)
                        md-input-container.row-has-value(flex)
                            label 班制
                            md-select(
                                ng-model="change.dinnerPersonSetups[1].shiftsType"
                                required)
                                md-option(value="行政班") 行政班
                                md-option(value="两班倒") 两班倒
                                md-option(value="三班倒") 三班倒
                                md-option(value="四班倒") 四班倒
                                md-option(value="空勤") 空勤
                        md-input-container.row-has-value(flex)
                            label 餐费区域
                            md-select(
                                ng-model="change.dinnerPersonSetups[1].area"
                                required)
                                md-option(ng-value="area" ng-repeat="area in ctrl.areas") {{area}}

                    div(layout)
                        md-input-container(flex)
                            label 卡金额
                            input(ng-model="change.dinnerPersonSetups[1].cardAmount" required type="number")
                        md-input-container(flex)
                            label 现金
                            input(ng-model="change.dinnerPersonSetups[1].workingFee" required type="number")

                    div(layout)
                        md-input-container(flex)
                            label 早餐次数
                            input(ng-model="change.dinnerPersonSetups[1].breakfastNumber" required type="number")
                        md-input-container(flex)
                            label 午餐次数
                            input(ng-model="change.dinnerPersonSetups[1].lunchNumber" required type="number")
                        md-input-container(flex)
                            label 晚餐次数
                            input(ng-model="change.dinnerPersonSetups[1].dinnerNumber" required type="number")

        .md-actions(style="padding-left: 0;")
            md-button.md-warn.md-raised(
                ng-click="change.state='暂停发放'; change.isSuspend=true;"
                type="submit"
                ng-if="!dinner.isSuspend"
                ) 暂停发放
            md-button.md-primary.md-raised(
                ng-click="change.state='恢复发放'; change.isSuspend=false;"
                type="submit"
                ng-if="dinner.isSuspend"
                ) 恢复发放
            div(flex)
            md-button(type="button" ng-click="cancel(current, $event, change_deal_form);dialog.close()") 取 消
            md-button.md-primary.md-raised(ng-click="change.state='不做处理'"  type="submit") 不做处理
            md-button.md-primary.md-raised(ng-click="change.state='保存处理'" type="submit") 保存处理


