.app-content-wrapper(flex ng-controller="dinnerFeeCtrl as ctrl")
    md-toolbar.toolbar--welfare.mb10
        .md-toolbar-tools
            span(layout)
                label 月度
                md-select(style="width:100px;" ng-model="ctrl.currentYear" ng-change="ctrl.loadRecords()" placeholder="请选择年份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年
                md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadRecords()" placeholder="请选择月份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
                label(flex-order="3") 月
            span(flex)

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 当期工作餐

                span(flex)
                span
                    md-menu
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ng-disabled="ctrl.calcing || ctrl.upload_start"
                            ) 导入

                        md-menu-content
                            md-menu-item(
                                flow-init="{target: '/api/attachments/upload_file', allowDuplicateUploads: true, testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="ctrl.upload_start=false;ctrl.upload_copy('空勤备份餐', ctrl.parseJSON($message).id);"
                                )
                                md-button(flex flow-btn type="button") 空勤备份餐

                            md-menu-item(
                                flow-init="{target: '/api/attachments/upload_file', allowDuplicateUploads: true, testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="ctrl.upload_start=false;ctrl.upload_copy('空保备份餐', ctrl.parseJSON($message).id);"
                                )
                                md-button(flex flow-btn type="button") 空保备份餐
                            md-menu-item(
                                flow-init="{target: '/api/attachments/upload_file', testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="ctrl.upload_start=false;ctrl.upload_copy('长水机场值班数据', ctrl.parseJSON($message).id);"
                                )
                                md-button(flex flow-btn type="button") 长水机场值班数据

                span
                    md-button.md-raised.md-primary(
                        ng-click="ctrl.exeCalc({type: '工作餐'})"
                        ng-disabled="ctrl.calcing"
                    ) 工作餐计算
                span
                    md-button.md-raised.md-primary(
                        ng-click="ctrl.exeCalc({type: '误餐费'})"
                        ng-disabled="ctrl.calcing"
                    ) 误餐费计算
                span
                    md-button.md-raised.md-primary(
                        ng-click="ctrl.exeCalc({type: '备份餐'})"
                        ng-disabled="ctrl.calcing"
                    ) 备份餐计算

                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ng-disabled="ctrl.calcing || ctrl.records.length==0"
                            ) 导出
                        md-menu-content
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=机关食堂充值表"
                                    href="javascript:"
                                ) 机关食堂充值表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=北头食堂充值表"
                                    href="javascript:"
                                ) 北头食堂充值表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=重庆食堂发放表"
                                    href="javascript:"
                                ) 重庆食堂发放表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=昆明食堂发放表"
                                    href="javascript:"
                                ) 昆明食堂发放表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=长水机场值班发放表"
                                    href="javascript:"
                                ) 长水机场值班发放表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=其他现金区域发放表"
                                    href="javascript:"
                                ) 其他现金区域发放表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=空勤灶充值表"
                                    href="javascript:"
                                ) 空勤灶充值表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=空勤灶发放表"
                                    href="javascript:"
                                ) 空勤灶发放表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=备份餐充值表"
                                    href="javascript:"
                                ) 备份餐充值表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=重庆备份餐发放表"
                                    href="javascript:"
                                ) 重庆备份餐发放表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=昆明备份餐发放表"
                                    href="javascript:"
                                ) 昆明备份餐发放表
                            md-menu-item()
                                a.md-button(
                                    flex
                                    download
                                    ng-href="/api/dinner_fees/export?type=备份餐打印表"
                                    href="javascript:"
                                ) 备份餐打印表

        div(nb-grid
            column-defs="ctrl.columnDef"
            export-api
            safe-src="ctrl.records")
