md-dialog.punishment_new(
    style="min-width: 500px;"
    ng-init="ctrl = dialog.ctrl; dinner = {}; ctrl.loadEmp = {};"
    )
    form(ng-submit="ctrl.newDinner(dinner); dialog.close();" name="newDinnerForm")
        md-toolbar.md-accent(md-theme="hrms")
            .md-toolbar-tools
                span 新建工作餐
        md-content
            fieldset(flex)
                div(style="display:none;")
                    input(ng-model="dinner.employeeId")
                div(layout)
                    md-input-container(flex)
                        label 姓名
                            span.require-tip *
                        input(ng-model="ctrl.loadEmp.name" name="name" required
                            ng-model-options="{debounce: {'default': 1000, 'blur': 0}}"
                            ng-change="ctrl.loadEmployee({name: ctrl.loadEmp.name}, dinner);"
                            )
                    md-input-container(flex)
                        label 员工编号
                            span.require-tip *
                        input(ng-model="ctrl.loadEmp.employeeNo" required
                            ng-model-options="{debounce: {'default': 1000, 'blur': 0}}"
                            ng-change="ctrl.loadEmployee({employee_no: ctrl.loadEmp.employeeNo}, dinner);"
                            )

                div(layout)
                    md-input-container.row-has-value(flex)
                        label 部门
                        input(ng-model="ctrl.loadEmp.department.name" readonly)
                    md-input-container.row-has-value(flex)
                        label 岗位
                        input(ng-model="ctrl.loadEmp.position.name" readonly)

                div(layout)
                    md-input-container(flex)
                        label 驻地
                        input(ng-model="ctrl.loadEmp.location" readonly)
                    div(flex)

                div(layout)
                    md-input-container.row-has-value(flex)
                        label 班制
                            span.require-tip *
                        md-select(
                            ng-model="dinner.shiftsType"
                            ng-change="ctrl.loadDefaultConfig({shifts_type: dinner.shiftsType, area: dinner.area, employee_id: dinner.employeeId}, dinner)"
                            required)
                            md-option(value="行政班") 行政班
                            md-option(value="两班倒") 两班倒
                            md-option(value="三班倒") 三班倒
                            md-option(value="四班倒") 四班倒
                            md-option(value="空勤") 空勤
                    md-input-container.row-has-value(flex)
                        label 餐费区域
                            span.require-tip *
                        md-select(
                            ng-model="dinner.area"
                            ng-change="ctrl.loadDefaultConfig({shifts_type: dinner.shiftsType, area: dinner.area, employee_id: dinner.employeeId}, dinner)"
                            required)
                            md-option(ng-value="area" ng-repeat="area in ctrl.areas") {{area}}

                div(layout)
                    md-input-container(flex)
                        label 卡金额
                            span.require-tip *
                        input(ng-model="dinner.cardAmount" required type="number")
                    md-input-container(flex)
                        label 现金
                            span.require-tip *
                        input(ng-model="dinner.workingFee" required type="number")

                div(layout)
                    md-input-container(flex)
                        label 早餐次数
                            span.require-tip *
                        input(ng-model="dinner.breakfastNumber" required type="number")
                    md-input-container(flex)
                        label 午餐次数
                            span.require-tip *
                        input(ng-model="dinner.lunchNumber" required type="number")
                    md-input-container(flex)
                        label 晚餐次数
                            span.require-tip *
                        input(ng-model="dinner.dinnerNumber" required type="number")
                div(layout)
                    md-input-container(flex)
                        label 变动日期
                            span.require-tip *
                        input(ng-model="dinner.changeDate" required bs-datepicker)


        .md-actions
            md-button(type="button" ng-click="dialog.close()") 取 消
            md-button.md-primary.md-raised(type="submit" ng-disabled="!newDinnerForm.$valid") 确 定

