.app-content-wrapper(flex ng-controller="salaryAllowanceCtrl as ctrl")
    md-toolbar.toolbar--welfare
        .md-toolbar-tools
            span(layout)
                label 月度
                md-select(style="width:100px;" ng-model="ctrl.currentYear" ng-change="ctrl.loadRecords()" placeholder="请选择年份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年
                md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadRecords()" placeholder="请选择月份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
                label(flex-order="3") 月
            span(flex)

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 津贴

                span(flex)
                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ng-disabled="ctrl.calcing || ctrl.upload_start"
                            ) 导入
                        md-menu-content
                            md-menu-item(
                                flow-init="{target: '/api/attachments/upload_xls', testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_allowance('航线实习补贴', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 航线实习补贴

                            md-menu-item(
                                flow-init="{target: '/api/attachments/upload_xls', testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_allowance('随机补贴', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 随机补贴

                            md-menu-item(
                                flow-init="{target: '/api/attachments/upload_xls', testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_allowance('签派放行补贴', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 签派放行补贴

                            md-menu-item(
                                flow-init="{target: '/api/attachments/upload_xls', testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_allowance('梭班补贴', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 梭班补贴

                span
                    md-button.md-raised.md-primary(
                        ng-click="ctrl.exeCalc()"
                        ng-disabled="ctrl.calcing"
                    ) 计算
                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ng-disabled="ctrl.calcing || ctrl.records.length==0"
                            ) 导出
                        md-menu-content
                            md-menu-item()
                                a.md-button(flex
                                    download
                                    ng-href="/api/allowances/export_temp?month={{ctrl.currentCalcTime()}}"
                                    href="javascript:"
                                ) 高温津贴表
                            md-menu-item()
                                a.md-button(flex
                                    download
                                    ng-href="/api/allowances/export_nc?month={{ctrl.currentCalcTime()}}"
                                    href="javascript:"
                                ) NC导入表
                            md-menu-item()
                                a.md-button(
                                    download
                                    ng-href="/api/allowances/export_approval?month={{ctrl.currentCalcTime()}}"
                                    href="javascript:"
                                ) 审批表

        div(nb-grid
            column-defs="ctrl.columnDef"
            export-api
            grid-selection
            grid-edit
            grid-row-edit
            on-register-api="ctrl.initialize(gridApi)"
            safe-src="ctrl.records")
