.app-content-wrapper(flex ng-controller="salaryPerformanceCtrl as ctrl")
    md-toolbar.toolbar--welfare
        .md-toolbar-tools
            span(layout)
                label 月度
                md-select(style="width:100px;" ng-model="ctrl.currentYear" ng-change="ctrl.loadRecords()" placeholder="请选择年份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年
                md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadRecords()" placeholder="请选择月份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
                label(flex-order="3") 月
            span(flex)

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 绩效薪酬

                span(flex)
                span
                    md-button.md-raised.md-primary(
                        nb-dialog
                        template-url="partials/salary/performance/performance_upload.html"
                        ) 导入文化传媒绩效金额
                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ng-disabled="ctrl.calcing"
                            ) 计算
                        md-menu-content
                            md-menu-item()
                                a.md-button(flex
                                    ng-click="ctrl.exeCalc('base_salary')"
                                    href="javascript:;"
                                ) 计算绩效基数
                            md-menu-item()
                                a.md-button(
                                    ng-click="ctrl.exeCalc('amount')"
                                    href="javascript:;"
                                ) 计算绩效薪酬
                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ng-disabled="ctrl.calcing || ctrl.basicSalaries.length==0"
                            ) 导出
                        md-menu-content
                            md-menu-item()
                                a.md-button(flex
                                    download
                                    ng-href="/api/performance_salaries/export_nc?month={{ctrl.currentCalcTime()}}"
                                    href="javascript:"
                                ) NC导入表
                            md-menu-item()
                                a.md-button(
                                    download
                                    ng-href="/api/performance_salaries/export_approval?month={{ctrl.currentCalcTime()}}"
                                    href="javascript:"
                                ) 审批表

        div(nb-grid column-defs="ctrl.columnDef" safe-src="ctrl.performanceSalaries")