.app-content-wrapper(flex ng-controller="salaryRewardCtrl as ctrl")
    md-toolbar.toolbar--welfare
        .md-toolbar-tools
            span(layout)
                label 月度
                md-select(style="width:100px;" ng-model="ctrl.currentYear" ng-change="ctrl.loadRecords()" placeholder="请选择年份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年
                md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.loadRecords()" placeholder="请选择月份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
                label(flex-order="3") 月
            span(flex)

    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 奖金发放

                span(flex)
                span
                    md-button.md-primary.md-raised(
                        nb-dialog
                        template-url="partials/salary/calc/reward_allot.html"
                        locals="{currentYear: ctrl.currentYear, currentMonth: ctrl.currentMonth}"
                        ) 奖金分配
                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ) 导入
                        md-menu-content
                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('航班正常奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 航班正常奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('服务质量奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 月度服务质量奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('航空安全奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 日常航空安全奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('社会治安综合治理奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 社会治安综合治理奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('电子航意险代理提成奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 电子航意险代理提成奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('客舱升舱提成奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 客舱升舱提成奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('全员促销奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 全员促销奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('四川航空报稿费', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 四川航空报稿费

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('无差错飞行中队奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 无差错飞行中队奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('年度综治奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 年度社会治安综合治理奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('运兵先进奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 运兵先进奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('航空安全特殊贡献奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 航空安全特殊贡献奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('部门安全管理目标承包奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 部门安全管理目标承包奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('飞行安全星级奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 飞行安全星级奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('年度无差错机务维修中队奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 年度无差错机务维修中队奖

                            //- md-menu-item(
                            //-     ng-click="$mdMenu.hide()"
                            //-     flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                            //-     flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                            //-     flow-file-success="upload_start=false;ctrl.upload_reward('网络联程奖', ctrl.parseJSON($message).id);")
                            //-     md-button(flex flow-btn type="button") 网络联程奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('季度奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 季度奖

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('收益奖励金', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 收益奖励金

                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('预算外奖励', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 预算外奖励
                            md-menu-item(
                                ng-click="$mdMenu.hide()"
                                flow-init="{target: '/api/attachments/upload_xls', allowDuplicateUploads: true, testChunks: false, uploadMethod: 'POST', singleFile: true}"
                                flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                                flow-file-success="upload_start=false;ctrl.upload_reward('节油奖', ctrl.parseJSON($message).id);")
                                md-button(flex flow-btn type="button") 节油奖
                span
                    md-button.md-raised.md-primary(
                        ng-click="ctrl.exeCalc()"
                        ng-disabled="ctrl.calcing"
                    ) 计算

                span
                    md-menu(ng-init="selectedRows=[]")
                        md-button.md-primary.md-raised(
                            ng-click="$mdOpenMenu($event)"
                            ng-disabled="ctrl.calcing || ctrl.records.length==0"
                            ) 导出
                        md-menu-content
                            md-menu-item()
                                a.md-button(flex
                                    download
                                    ng-href="/api/rewards/export_nc?month={{ctrl.currentCalcTime()}}"
                                    href="javascript:"
                                ) NC导入表
                            md-menu-item()
                                a.md-button(
                                    download
                                    ng-href="/api/rewards/export_approval?month={{ctrl.currentCalcTime()}}"
                                    href="javascript:"
                                ) 审批表

        div(nb-grid
            column-defs="ctrl.columnDef"
            export-api
            grid-selection
            grid-edit
            grid-row-edit
            grid-pinning
            on-register-api="ctrl.initialize(gridApi)" safe-src="ctrl.records")