div(
    style="height: 100%; background-color: #f5f5f5;"
    ng-init="protocol=panel.protocol; ctrl=panel.ctrl;"
    ng-controller="EditableResourceCtrl"
    )
    md-toolbar.md-warn(md-theme="hrms")
        .md-toolbar-tools
            span 协议详情

    .personnel-content.personnel-control
        section.personnel-info-section
            md-content.nb-card-container(layout="column" md-theme="hrms")
                form(ng-submit="ctrl.updateProtocol(protocol);panel.close();" name="editProtocolForm")
                    md-card.form-material-section.nb-card
                        .md-subheader
                            | 协议信息

                        fieldset(md-theme="default")
                            div(style="display:none;")
                                input(ng-model="protocol.employeeId")
                            div(layout)
                                md-input-container(flex)
                                    label 姓名
                                    input(ng-model="protocol.employeeName" name="name" readonly)
                                md-input-container(flex)
                                    label 员工编号
                                    input(ng-model="protocol.employeeNo" readonly)

                            div(layout)
                                md-input-container.row-has-value(flex)
                                    label 部门
                                    input(ng-model="protocol.departmentName" readonly)
                                md-input-container.row-has-value(flex)
                                    label 岗位
                                    input(ng-model="protocol.positionName" readonly)

                            div(layout)
                                md-input-container.row-has-value(flex)
                                    label 用工性质
                                    input(ng-model="protocol.applyType" readonly)

                            div(layout)
                                md-input-container(flex)
                                    label 开始日期
                                        span.require-tip *
                                    input(
                                        name="startDate"
                                        bs-datepicker
                                        ng-model="protocol.startDate"
                                        required
                                        ng-disabled="!ctrl.editable"
                                        ng-readonly="!ctrl.editable"
                                            )
                                md-input-container(flex)
                                    label 结束日期(大于开始日期)
                                        span.require-tip *
                                    input.has-placeholder(
                                        bs-datepicker
                                        ng-model="protocol.endDate"
                                        name="endDate"
                                        ng-disabled="!ctrl.editable"
                                        ng-readonly="!ctrl.editable"
                                        )
                                //- md-input-container(flex md-no-float)
                                //-     label 协议时长
                                //-     input(
                                //-         type="text"
                                //-         ng-model="protocol.dueTime"
                                //-         name="dueTime"
                                //-         readonly
                                //-         )

                            div(layout)
                                md-input-container(flex)
                                    label 合同备注
                                    input(type="text"
                                        ng-model="protocol.note"
                                        ng-readonly="!ctrl.editable"
                                        )

                    .form-bottom-group(layout style="margin-top: 20px;")
                        span(flex)
                        md-button.md-raised(type="button" ng-click="ctrl.protocols.$refresh(); panel.close();") 取消
                        md-button.md-primary.md-raised(
                            type="submit"
                            ng-disabled="newProtocolForm.$invalid || (newProtocolForm.endDate.$modelValue <= newProtocolForm.startDate.$modelValue)") 提交
