doctype html
html
    head
        meta(charset="utf-8")
        title 川航人力资源管理系统
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="home page")
        meta(name="keywords", content="川航人力资源管理系统")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        //- angulr 模板样式
        link(rel="stylesheet", href="/styles/lib.css?v=#{v}")
        link(rel="stylesheet", href="/styles/web.css?v=#{v}")
        link(rel="icon", type="image/png", href="/images/favicon.png")

        script(id="CONFIG_SERVER_CODE").
            !{meta}
    //- body(ng-app="nb" ng-controller="AppController")
    body(ng-app="nb" layout="row")
        include partials/shared/left_sidebar

        toaster-container(toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}")
        nb-loading.nb-loading(ng-show="loading")
        //- .org-container.smooth(ui-view)
        div(layout="column" flex)
            include partials/shared/top_menu
            .butterbar(ui-butterbar)
            md-content.app-content-body.smooth(ui-view flex layout="row")

        //- 审批申请单
        //- .ngdialog.ngdialog-theme-panel
        //-     .ngdialog-overlay
        //-     .ngdialog-content
        //-         .approval-wapper
        //-             md-toolbar
        //-                 .md-toolbar-tools
        //-                     span 调岗申请单
        //-             .approval-container
        //-                 .approval-info
        //-                     .approval-subheader 申请人信息
        //-                     .approval-info-head
        //-                         span.name 姜文峰
        //-                         span.serial-number 008863
        //-                     .approval-position 人力资源部-人事调配室 / 人事调配室副主任
        //-                     div(layout)
        //-                         .approval-cell(flex)
        //-                             span.cell-title 学历
        //-                             span.cell-content 大学本科
        //-                         .approval-cell(flex)
        //-                             span.cell-title 英语等级
        //-                             span.cell-content 大学英语四级

        //-                     div(layout)
        //-                         .approval-cell(flex)
        //-                             span.cell-title 学位
        //-                             span.cell-content 学士
        //-                         .approval-cell(flex)
        //-                             span.cell-title 当前岗位年限
        //-                             span.cell-content 3年

        //-                     div(layout)
        //-                         .approval-cell(flex)
        //-                             span.cell-title 通道
        //-                             span.cell-content 管理
        //-                         .approval-cell(flex)
        //-                             span.cell-title 近6个月绩效
        //-                             span.cell-content 优秀 2/良好 2/合格 2/待改进 2/不合格 2
        //-                 .approval-info
        //-                     .approval-subheader 调岗信息
        //-                     div(layout)
        //-                         .approval-cell(flex)
        //-                             span.cell-title 转入部门
        //-                             span.cell-content 信息技术部-测试组

        //-                     div(layout)
        //-                         .approval-cell(flex)
        //-                             span.cell-title 转入岗位
        //-                             span.cell-content 测试组组长

        //-                     div(layout)
        //-                         .approval-cell(flex)
        //-                             span.cell-title 申请理由
        //-                             span.cell-content 几年的工作经历，使我迫切的希望进一步拓宽知识面，同时也希望有一个直接到一线去工作的机会，所以，我希望能够对工作岗位进行适当的调整，调往生产部，给自己一个锻炼的机会，也争取为本单位多做一份贡献。

        //-                     div(layout)
        //-                         .approval-cell(flex)
        //-                             span.cell-title 试岗时长
        //-                             span.cell-content 3个月

        //-                 .approval-msg
        //-                     .approval-subheader 审批信息
        //-                     .approval-progress-container(approval)
        //-                     .approval-msg-cell
        //-                         .approval-msg-header
        //-                             i.circle
        //-                             span.approval-header-title 合规性检查意见
        //-                             span.approval-header-name 李枝林
        //-                             span.approval-header-time 2015-04-01
        //-                         .approval-msg-content
        //-                                 | 经党委会讨论，批准姜文峰同志转为中共正式党员，当年从1989年10月20日算起。经党委会讨论，批准姜文峰同志转为中共正式党员，当年从1989年10月20日算起。经党委会讨论，批准姜文峰同志转为中共正式党员，当年从1989年10月20日算起。经党委会讨论，批准姜文峰同志转为中共正式党员，当年从1989年10月20日算起。

        //-                 .approval-opinions
        //-                     .approval-subheader 审批意见
        //-                     form
        //-                         .approval-opinions-check
        //-                             md-radio-group(ng-model="data.group1")
        //-                                 md-radio-button.skyblue(value="通过") 通过
        //-                                 md-radio-button.skyblue(value="驳回") 驳回
        //-                         md-input-container
        //-                             textarea(placeholder="请输入审批意见" columns="1")

        //-                         .approval-buttons
        //-                             md-button.md-raised.white 取消
        //-                             md-button.md-raised.skyblue 提交

        if debugMode
            each script in libs
                script(src="/vendor/#{script}")
            script(src="http://localhost:35729/livereload.js")
        else
            script(src="/js/libs.js?v=#{v}")
        script(src="/js/app.js")
