doctype html
html
    head
        meta(charset="utf-8")
        title 川航人力资源管理系统
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="home page")
        meta(name="keywords", content="川航人力资源管理系统")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        //- angulr 模板样式
        link(rel="stylesheet", href="/styles/vendor1.css?v=#{v}")
        link(rel="stylesheet", href="/styles/lib.css?v=#{v}")
        link(rel="stylesheet", href="/styles/web.css?v=#{v}")
        link(rel="icon", type="image/png", href="/images/favicon.png")

        //- 服务器端配置 metadata
        script(id="CONFIG_SERVER_CODE").
            !{meta}
    body(
        ng-app="nb"
        layout="column"
        ng-controller="RootCtrl as rootCtrl"
        ng-cloak
        )
        include partials/shared/top_menu
        toaster-container(toaster-options="{'time-out': 3000, 'close-button': true, 'animation-class': 'toast-top-right'}")
        //- nb-loading.nb-loading(ng-show="loading")
        //- .org-container.smooth(ui-view)
        div(layout="row" flex ng-if="!rootCtrl.show_main")
            include partials/role/index.jade
        div(layout="row" flex ng-if="rootCtrl.show_main")
            div.ola.md-whiteframe-z1(ng-if="rootCtrl.current_roles[0]")
                include partials/shared/left_sidebar
            .butterbar(ui-butterbar)
            md-content.app-content-body.smooth(ui-view flex layout="row")

        if debugMode
            each script in libs
                script(src="/vendor/#{script}")
            script(src="http://localhost:35729/livereload.js")
        else
            script(src="/js/libs.js?v=#{v}")
        script(src="/js/app.js")
