section.personnel-info-control.editing.clearfix
    form(ng-submit="save(selectEmp.$save())")
        .btn-group.pull-right
            button.btn.btn-info(type="submit") 保存
            button.btn.btn-default(ng-click="selectEmp.$restore();cancel()") 取消
        .personnel-info-left.pull-left
            .personnel-item-icon.personnel-item2
            .personnel-item-desc.bg-success 岗位信息
        .personnel-info-right.editor-style.pull-left
            table.form-validator-table
                tbody
                    tr
                        th 所属部门：
                        td
                            input(
                                title="划转"
                                nb-dialog="partials/common/org_select.tpl.html"
                                nb-dialog-scope="this"
                                ng-model="selectEmp.department.custStr"
                            )
                        th 岗位：
                        td
                            ui-select(ng-model="selectEmp.position" theme="select2" required)
                                ui-select-match(placeholder="请输入岗位名称") {{ $select.selected.name }}
                                ui-select-choices(repeat="pos in orgPos | filter:$select.search | limitTo: 5", refresh="ctrl.loadOrgPos()") {{ pos.name }}
                    tr
                        th 用工性质：
                        td
                            nb-dropdown(
                                ng-model="selectEmp.laborRelation", remote-key="labor_relations",
                                name="labor_natures", required)
                        th 用工关系状态：
                        td
                            nb-dropdown(
                                ng-model="selectEmp.employeeStatus", remote-key="employment_status",
                                name="employee_status", required)
                    tr
                        th 属地化地点：
                        td
                            nb-dropdown(
                                ng-model="selectEmp.location", remote-key="locations",
                                name="location", required)
