section.personnel-info-control.editing.clearfix
    form(ng-submit="ctrl.createPerPos(selectEmp)")
        .btn-group
            button.btn.btn-default(ng-click="ctrl.posEdit=false") 取消
            button.btn.btn-info(type="submit") 保存
        .personnel-info-left.pull-left
            .personnel-item-icon.personnel-item2
            .personnel-item-desc.bg-success 岗位信息
        .personnel-info-right.editor-style.pull-left
            table.form-validator-table
                tbody
                    tr
                        th 所属部门：
                        td 
                            input(
                                title="划转"
                                nb-dialog="partials/common/org_select.tpl.html"
                                nb-dialog-scope="this"
                                ng-model="selectEmp.department.custStr"
                            )
                        th 岗位：
                        td {{::selectEmp.position.name}}
                    tr
                        th 分类：
                        td {{::selectEmp.category.displayName}}
                        th 通道：
                        td {{::selectEmp.channel.displayName}}
                    tr
                        th 类别：
                        td {{::selectEmp.position.postType}}
                        th 用工性质：
                        td {{::selectEmp.laborRelation.nature.displayName}}
                    tr
                        th 属地化地点：
                        td
                            nb-dropdown(
                                ng-model="selectEmp.location", remote-key="locations",
                                name="location", required)
                        th 用工关系状态：
                        td 字段未知
//- =======
//- section.personnel-info-control.editing.clearfix
//-     .personnel-info-left.pull-left
//-         .personnel-item-icon.personnel-item2
//-         .personnel-item-desc.bg-success 岗位信息
//-     .personnel-info-right.editor-style.pull-left
//-         table.form-validator-table
//-             tbody
//-                 tr
//-                     th 所属部门：
//-                     td {{::selectEmp.department.name}}
//-                     th 岗位：
//-                     td {{::selectEmp.position.name}}
//-                 tr
//-                     th 分类：
//-                     td {{::selectEmp.category.displayName}}
//-                     th 通道：
//-                     td {{::selectEmp.channel.displayName}}
//-                 tr
//-                     th 类别：
//-                     td {{::selectEmp.position.postType}}
//-                     th 用工性质：
//-                     td {{::selectEmp.laborRelation.nature.displayName}}
//-                 tr
//-                     th 属地化地点：
//-                     td
//-                         nb-dropdown(
//-                             ng-model="selectEmp.location", remote-key="locations",
//-                             name="location", required)
//-                     th 用工关系状态：
//-                     td 字段未知
//- >>>>>>> f4d96b57078481a5a4a8a2c87370a59a3f1b7cb2
