section.personnel-info-control.editing.clearfix(ng-init="params = {}")
    form(ng-submit="save(current.$save())")
        .btn-group.pull-right
            button.btn.btn-info(type="submit") 保存
            button.btn.btn-default(ng-click="current.$restore();cancel()") 取消
        .personnel-info-left.pull-left
            .personnel-item-icon.personnel-item2
            .personnel-item-desc.bg-success 岗位信息
        .personnel-info-right.editor-style.pull-left
            table.form-validator-table
                tbody
                    tr
                        th 所属部门：
                        td
                            ui-select(
                                ng-model="current.department"
                                ng-change="params.orgPos = current.department.positions.length? current.department.positions: current.department.positions.$fetch()"
                                reset-search-input="true")
                                ui-select-match(placeholder="请输入机构名称") {{ $select.selected.name }}
                                ui-select-choices(repeat="org in allOrgs | filter:$select.search | limitTo: 5") {{ org.name }}

                        th 岗位：
                        td
                            ui-select(ng-model="current.position" required)
                                ui-select-match(placeholder="请输入岗位名称") {{ $select.selected.name }}
                                ui-select-choices(repeat="pos in params.orgPos | filter:$select.search | limitTo: 5") {{ pos.name }}
                    tr
                        th 用工性质：
                        td
                            nb-dropdown(
                                ng-model="current.laborRelation", remote-key="labor_relations",
                                name="labor_natures", required)
                        th 用工关系状态：
                        td
                            nb-dropdown(
                                ng-model="current.employeeStatus", remote-key="employment_status",
                                name="employee_status", required)
                    tr
                        th 属地化地点：
                        td
                            nb-dropdown(
                                ng-model="current.location", remote-key="locations",
                                name="location", required)
