div.charts-container(
    flex
    ng-controller="ChartsMainCtrl as chartCtrl"
    )
    //- .container960(
    //-     ng-controller="DepartmentLeaderChartsCtrl as ctrl"
    //-     ng-if="chartCtrl.checkRole('department_leader')"
    //-     )
    //-     include charts/department_leader
    .container960(
        ng-controller="HrLeaderChartsCtrl as ctrl"
        ng-if="chartCtrl.checkRole('hr_leader')"
        )
        include charts/hr_leader
    //- .container960(
    //-     ng-controller="DepartmentHrChartsCtrl as ctrl"
    //-     ng-if="chartCtrl.checkRole('department_hr')"
    //-     )
    //-     include charts/department_hr
    .container960(
        ng-controller="CompanyLeaderChartsCtrl as ctrl"
        ng-if="chartCtrl.checkRole('company_leader')"
        )
        include charts/company_leader
    .container960(
        ng-controller="CountyLeaderChartsCtrl as ctrl"
        ng-if="chartCtrl.checkRole('county_leader')"
        )
        include charts/county_leader

    .container960(
        ng-controller="WelfareManageChartsCtrl as ctrl"
        ng-if="chartCtrl.checkRole('welfare_member')"
        )
        include charts/welfare_member