.app-content-wrapper(flex ng-controller="PerformanceRecord as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 绩效记录 (提示: 数据默认为空，请执行搜索操作)
                div(flex)

                md-button.md-primary.md-raised(
                    has-permission="special_states_temporarily_train"
                    nb-dialog
                    ng-disabled="!ctrl.getSelected() || ctrl.importing"
                    template-url="/partials/performance/record/leave_to_train.html"
                    locals="{current: ctrl.getSelected()}"
                    ) 离岗培训

                md-button.md-primary.md-raised(
                    nb-dialog
                    ng-disabled="!ctrl.getSelected() || ctrl.importing"
                    template-url="/partials/performance/record/add_attachment.html"
                    locals="{performance: ctrl.getSelected(), can_upload: true, outerScope: ctrl.scope, can_del: true}"
                ) 上传文档

                md-button.md-primary.md-raised(
                    has-permission="performances_import_performance_collect"
                    flow-init="{target: '/api/attachments/upload_file', allowDuplicateUploads: true, testChunks: false, chunkSize: 10*1024*1024, uploadMethod: 'POST', singleFile: true}"
                    flow-files-submitted="ctrl.upload_start=true;$flow.upload();"
                    flow-file-success="ctrl.upload_start=false;ctrl.uploadPerformances('绩效导入', ctrl.parseJSON($message).id);"
                    flow-btn
                    type="button"
                    ng-disabled="ctrl.importing"
                ) 历史绩效导入

        div(nb-grid multi-select="false" export-api on-register-api="ctrl.exportGridApi(gridApi)" grid-selection column-defs="ctrl.columnDef" safe-src="ctrl.performances")
