section.org-detail(ng-controller="EditableResourceCtrl" has-permission="departments_show")
    .org-title.org-form-row
        span(ng-show="orgCtrl.state != 'newsub'") 机构信息
        span(ng-show="orgCtrl.state == 'newsub'") 新增子机构信息
        div(ng-if="orgCtrl.state == 'show' && !(ctrl.isHistory || currentOrg.status == 'destroy_inactive')")
            button.btn.btn-sm.btn-default.fa.fa-trash-o(
                ng-if="!currentOrg.committee"
                has-permission="departments_destroy"
                nb-confirm="orgCtrl.destroy(isConfirm)"
                nb-title="您确定要删除{{currentOrg.name}}吗?"
                nb-content="删除操作将在点击组织结构树 '生效' 按钮并关联 OA 文件号后真正生效, 在这之前您可以随时撤销未生效的操作")
            button.btn.btn-sm.btn-default.fa.fa-retweet(
                has-permission="departments_transfer"
                title="划转"
                nb-dialog
                template-url="partials/orgs/shared/org_transfer.html"
                )

            button.btn.btn-sm.btn-default.fa.fa-pencil(has-permission="departments_update" ng-click="edit()", title="编辑")
            button.btn.btn-sm.btn-default.fa.fa-plus(has-permission="departments_create" title="新增子机构", ng-click="orgCtrl.state = 'newsub'", ng-if="currentOrg.grade.name !== 'secondly_positive'")
    //- show
    .org-info(ng-hide="orgCtrl.state == 'newsub'")
        form(name="orgUpdateForm" ng-submit="save(currentOrg.$save(), orgUpdateForm)")
            fieldset(ng-disabled="!editing")
                md-input-container
                    label 名称
                    input(ng-model="currentOrg.name" required name="orgName")
                md-input-container
                    label 编号
                    input(ng-model="::currentOrg.serialNumber" disabled)
                md-input-container.row-has-value
                    label 机构性质
                    md-select(ng-model="currentOrg.natureId" disabled)
                        md-option(ng-value="item.id" ng-repeat="item in $enum.get('department_natures')") {{item.label}}
                md-input-container.row-has-value
                    label 职级
                    md-select(ng-model="currentOrg.gradeId" ng-disabled="!editing")
                        md-option(ng-value="item.id" ng-repeat="item in orgCtrl.dep_grade_array") {{item.label}}


            .form-actions(ng-hide="!editing")
                md-button.md-raised.white(type="button", ng-click="cancel(currentOrg, $event)") 取消
                md-button.skyblue.md-raised(type="submit") 保存

    //- new sub
    .org-info(ng-if="orgCtrl.state == 'newsub' " ng-init="neworg = {natureId: currentOrg.natureId}")
        form(novalidate, ng-submit="orgCtrl.newsub(newsubForm, neworg)", name="newsubForm")
            fieldset
                md-input-container
                    label 名称
                    input(ng-model="neworg.name" required name="orgName")
                md-input-container.row-has-value
                    label 机构性质
                    md-select(ng-model="neworg.natureId" ng-disabled="currentOrg.serialNumber.length != 3")
                        md-option(ng-value="item.id" ng-repeat="item in $enum.get('department_natures')") {{item.label}}
                md-input-container.row-has-value
                    label 职级
                    md-select(ng-model="neworg.gradeId")
                        md-option(ng-value="item.id" ng-repeat="item in orgCtrl.dep_grade_array") {{item.label}}
                .form-actions
                    md-button.md-raised.white(type="button" ng-click="orgCtrl.state = 'show'") 取消
                    md-button.skyblue.md-raised(type="submit") 保存


section(ng-if="currentOrg.status !== 'destroy_inactive'")
    .org-title
        span 下属岗位信息
        button.btn.btn-default.fa.fa-cog(
            ng-if="!ctrl.isHistory && ctrl.currentOrg.status != 'create_inactive'"
            title="设置岗位"
            nb-panel
            template-url="partials/orgs/position.html"
            panel-controller="OrgPosCtrl"
            controller-as="ctrl"
            locals="{positions: positions}"
            )
    div.org-table(slimscroll height="400px")
        table.table.table-hover.table-mc-light-blue.table-bordered
            thead
                tr
                    th 岗位名称
                    th.kw-50  编制
                    th.kw-50  在编人数
            tbody
                tr(ng-repeat="position in positions track by position.id")
                    td.org-post(ng-if="!ctrl.isHistory")
                        //- a(ui-sref=".position.detail({posId: position.id,id:currentOrg.id})") {{position.name}}
                        a(
                            has-permission="positions_index"
                            ng-if="!ctrl.isHistory"
                            nb-panel
                            template-url="partials/position/position_detail.html"
                            panel-controller="PositionDetailCtrl"
                            locals="{'position': position, history: false}"
                        ) {{position.name}}
                    td.org-post(ng-if="ctrl.isHistory")
                        a(
                            has-permission="history/positions_index"
                            nb-panel
                            template-url="partials/position/position_detail.html"
                            panel-controller="PositionDetailCtrl"
                            locals="{'position': position, history: true}"
                            ) {{position.name}}
                    td  {{position.budgetedStaffing}}
                    td(ng-class="{'overstaffed': position.overstaffedNum > 0}")  {{position.staffing}}
