section.org-detail(ng-controller="EditableResource")
    .org-title.org-form-row
        span(ng-show="orgCtrl.state != 'newsub'") 机构信息
        span(ng-show="orgCtrl.state == 'newsub'") 新增子机构信息
        div(ng-if="orgCtrl.state == 'show' && !(ctrl.isHistory || currentOrg.status == 'destroy_inactive')")
            button.btn.btn-default.fa.fa-trash-o(
                nb-confirm="orgCtrl.destroy(isConfirm)"
                nb-title="您确定要删除{{currentOrg.name}}吗?"
                nb-text="删除操作将在点击组织结构树 '生效' 按钮并关联 OA 文件号后真正生效, 在这之前您可以随时撤销未生效的操作")
            button.btn.btn-default.fa.fa-retweet(
                title="划转"
                nb-dialog="partials/orgs/shared/org_transfer.html"
                nb-dialog-scope="this"
                )
            //- button.btn.btn-default.fa.fa-pencil(ui-sref="^.edit({orgId: org.id})",title="编辑")
            button.btn.btn-default.fa.fa-pencil(ng-click="edit()",title="编辑")
            button.btn.btn-default.fa.fa-plus(title="新增子机构",ng-click="orgCtrl.state = 'newsub'", ng-if="currentOrg.grade.name !== 'secondly_positive'")
    //- show
    .org-info(ng-hide="orgCtrl.state == 'newsub'")
        form(name="orgUpdateForm" ng-submit="save(currentOrg.$save(), orgUpdateForm)")
            fieldset(ng-disabled="!editing")
                md-input-container
                    label 名称
                    input(ng-model="currentOrg.name" required name="orgName")
                md-input-container
                    label 编号
                    input(ng-model="currentOrg.serialNumber" disabled)
                md-input-container.row-has-value
                    label 机构性质
                    //- nb-dropdown(ng-model="copyOrg.nature" remote-key="department_natures", name="orgAddr", required="true")
                    md-select(ng-model="currentOrg.nature" md-on-open="loadEnum('department_natures')")
                        md-select-label {{currentOrg.nature ? currentOrg.nature.displayName : '请选择'}}
                        md-option(ng-value="nature" ng-repeat="nature in enums.department_natures") {{nature.displayName}}
                    //- input(ng-model="currentOrg.nature.displayName" name="orgNature")
                md-input-container
                    label 职级
                    input(ng-model="currentOrg.grade.displayName" disabled)

            .form-actions(ng-hide="!editing")
                md-button(type="button", ng-click="cancel(currentOrg, $event)") 取消
                md-button.md-primary.md-raised(type="submit") 保存
    //- new sub
    .org-info(ng-if="orgCtrl.state == 'newsub' " ng-init="neworg = {}")
        form(novalidate, ng-submit="orgCtrl.newsub(newsubForm, neworg)", name="newsubForm")
            md-input-container
                label 名称
                input(ng-model="neworg.name" required name="orgName")
            md-input-container
                label 机构性质
                md-select(ng-model="neworg.nature" required md-on-open="loadEnum('department_natures')")
                    md-select-label {{neworg.nature ? neworg.nature.displayName : '请选择'}}
                    md-option(ng-value="nature" ng-repeat="nature in enums.department_natures") {{nature.displayName}}
            md-input-container
                label 职级
                md-select(ng-model="neworg.grade" required md-on-open="loadEnum('department_grades')")
                    md-select-label {{neworg.grade ? neworg.grade.displayName : '请选择'}}
                    md-option(ng-value="grade" ng-repeat="grade in enums.department_grades") {{grade.displayName}}
            .form-actions
                md-button(type="button" ng-click="orgCtrl.state == 'show'") 取消
                md-button.md-primary.md-raised(type="submit") 保存

section(ng-if="currentOrg.status !== 'destroy_inactive'")
    .org-title
        span 下属岗位信息
        button.btn.btn-default.fa.fa-cog(
            ng-if="!ctrl.isHistory"
            title="设置岗位"
            nb-dialog="partials/orgs/position.html"
            nb-dialog-scope="this"
            nb-dialog-controller="OrgPosCtrl"
            nb-dialog-data="positions"
            nb-dialog-class="ngdialog-theme-panel"
            ng-disabled="ctrl.isHistory"
            )
    div.org-table(slimscroll height="400px")
        table.table.table-striped
            thead
                tr
                    th 岗位名称
                    th  编制
                    th  在编人数
            tbody
                tr(ng-repeat="position in positions track by position.id")
                    td.org-post(ng-click="")
                        //- a(ui-sref=".position.detail({posId: position.id,id:currentOrg.id})") {{position.name}}
                        a(
                            nb-dialog="partials/position/position_detail.html"
                            nb-dialog-class="ngdialog-theme-panel"
                            nb-dialog-data="position"
                        ) {{position.name}}
                    td  {{position.budgetedStaffing}}
                    td(ng-class="{'overstaffed': position.overstaffedNum > 0}")  {{position.staffing}}
