md-dialog.org_history
    md-toolbar.md-accent(md-theme="hrms")
            .md-toolbar-tools
                span 时间轴（历史记录）
    md-content.sticky-container
        .dialog-content(layout layout-align="center")
            md-input-container(flex)
                label 机构历史版本
                input(
                    bs-datepicker container="body" data-autoclose="1"
                    min-date="{{dialog.historyData.minDate}}" max-date="today" ng-model="selectedDate"
                    ng-change="ctrl.pickLog(selectedDate, dialog.historyData.changeLogs)")
            md-input-container(flex)
                label 相关机构名称
                input(ng-model="referOrgName")
        div.wrapper.org-timline(ng-init="activeLog = {}; ctrl.initVisble(dialog.historyData.changeLogs)")
            ul.timeline(ng-repeat="yearLogs in dialog.historyData.changeLogs")
                li.tl-header
                    div.year {{::yearLogs.changeYear}}
                    span.changes_count 有{{::yearLogs.logs.length || 0}}次变动
                li.tl-item(
                    ng-repeat="log in yearLogs.logs track by $index"
                    ng-click="ctrl.expandLog(log)"
                    ng-class="{'active': log.active}"
                    ng-if="log.visible"
                    )
                    div.tl-wrap
                        div.tl-content.panel.padder.b-a
                            span.arrow.left
                            div
                                h1 {{log.title}}
                                    span.pull-right 依据文件: {{log.oa_file_no}}
                                h2 {{::log.created_at | date: 'MM月dd日'}} - {{::log.dep_name}}
                                ul(ng-show="log.active")
                                    li(ng-repeat="step in log.step_desc track by $index")
                                        p {{::step}}
                                h1.pull-right(style="margin-top:-24px;color:#000")
                                    span 操作者: {{::log.creator}}
                        div.tl-point

    .md-actions
        md-button(ng-click='dialog.close()') 取 消
        md-button.md-primary.md-raised(ng-click="ctrl.backToPast() ; dialog.close()" ng-disabled="!ctrl.currentLog") 确 定