section(layout="row" flex)
    md-content(layout="column" flex style="background-color: #f0f3f4;")
        .org-top-search
            md-autocomplete(
                    md-items="org in ctrl.orgs"
                    md-item-text="org.fullName"
                    md-min-length="2"
                    placeholder="想查找啥机构呢？"
                    md-selected-item-change=""
                )
                span(md-highlight-text="" md-highlight-flags="^i") {{org.fullName}}
        .org-chart-top(ng-class="{'org-chart-history': ctrl.isHistory}")
                h1 {{ctrl.treeRootOrg.$cmStatus.name}}组织机构图
                h2(ng-show="ctrl.isHistory") {{ctrl.orgs.$metadata.created_at | date : 'yyyy年MM月dd日'}}— {{ctrl.orgs.$metadata.title}}
            .top-btn-group
                //- button(ng-click="ctrl.print()") 导出
                md-button.md-raised.purple(
                    nb-dialog
                    template-url="partials/orgs/org_history.html"
                    locals="{'historyData': ctrl.initialHistoryData()}"
                    ) 时间轴
                md-button.md-raised.skyblue(has-permission="departments_export_to_xls" ng-show="!ctrl.isHistory", download ng-href="/api/departments/export_to_xls?department_id={{ctrl.treeRootOrg.id}}") 导 出
                md-button.md-raised.skyblue(has-permission="departments_export_to_xls" ng-show="ctrl.isHistory", download ng-href="/api/departments/export_to_xls?department_id={{ctrl.treeRootOrg.id}}&version={{ctrl.orgs.$metadata.id}}") 导 出
                md-button.md-raised.skyblue(ng-click="ctrl.resetData()" ng-show="ctrl.isHistory") 返回最新

                //- loading-btn.red(ng-click="ctrl.openHistoryPanel()" btn-loading-type="contract-overlay" btn-text="测试loading")

        md-content.org-chart-window(id="org_chart_warpper" flex scroll-center style="background-color: #f0f3f4;")
            div.svg-wrapper(org-chart id="org_chart" org-chart-data="ctrl.tree.data")

        //- md-content.org-chart-window(ng-if="ctrl.treeRootOrg.depth == 1" style="height: 700px")
        //-     div(style="width: 100%;background-image: url('/images/org_bg.jpg');height: 100%;background-position: center center;background-repeat: no-repeat; background-color: #f0f3f4;")
        div.bottom-btn-group(ng-show="ctrl.tree.isModified")
            md-button.md-raised.skyblue(
                nb-dialog
                template-url="partials/orgs/shared/effect_changes.html"
                has-permission="departments_active"
                ) 生 效
            md-button.md-raised.white(
                has-permission="departments_revert"
                nb-confirm="ctrl.revert(isConfirm)"
                nb-title="您确认要撤销当前的所有修改吗?"
                nb-content="当你点击确定时，你之前对机构做过的调整将被撤销。") 撤 销
    md-sidenav.org-sidebar-right.md-sidenav-right.md-whiteframe-z2(md-is-locked-open="true")
        .org-row(ng-controller="OrgCtrl as orgCtrl")
            include org

