section(layout="row" flex)
    md-content(layout="column" flex style="background-color: #f0f3f4;")
        .org-chart-top(ng-class="{'org-chart-history': ctrl.isHistory}")
            div(layout)
                .org-chart-search(flex)
                    org-search(selected-item-change="ctrl.selectOrgChart(org)")
                .top-btn-group
                    //- 暂时使用的入口
                    md-button.md-raised.md-primary(
                        nb-dialog
                        template-url="partials/orgs/org_history.html"
                        locals="{'historyData': ctrl.initialHistoryData()}"
                        ) 时间轴
                    md-dropmenu.pull-right
                        md-drop-label
                            md-button.md-primary.md-raised 导出
                        md-drop-option(ng-hide="ctrl.isHistory")
                            md-button(ng-href="/api/departments/export_to_xls?department_id={{ctrl.treeRootOrg.id}}") 导出Excel
                        md-drop-option(ng-show="ctrl.isHistory")
                            md-button(ng-href="/api/departments/export_to_xls?department_id={{ctrl.treeRootOrg.id}}&version={{ctrl.orgs.$metadata.id}}") 导出Excel
                        md-drop-option
                            md-button(ng-click="ctrl.print()" ) 导出PDF
                    md-button.md-primary(ng-show="ctrl.treeRootOrg.xdepth != 1" ng-click="ctrl.backToSCAL()")
                        md-icon(md-svg-src="/images/svg/home.svg")
                    md-button.md-raised.md-primary(ng-click="ctrl.resetData()" ng-show="ctrl.isHistory") 返回最新

                    md-button(
                        flow-handler="ctrl.currentOrg"
                    flows="ctrl.currentOrg"
                    options="{className:'ngdialog-theme-panel'}"
                        ) 请假

            h1 {{ctrl.treeRootOrg.$cmStatus.name}}组织机构图
            h2(ng-show="ctrl.isHistory")
                i.glyphicon.glyphicon-time(style="margin-right: 10px; color: skyblue;font-size: 24px;")
                span {{ctrl.orgs.$metadata.created_at | date : 'yyyy年MM月dd日'}}— {{ctrl.orgs.$metadata.title}}
        md-content.org-chart-window(id="org_chart_warpper" flex scroll-center style="background-color: #f0f3f4;")
            div.svg-wrapper(
                org-chart
                org-chart-data="ctrl.tree.data"
                init-select-org-id="ctrl.currentOrg.id"
                on-item-click="ctrl.onItemClick(evt)")

        div.bottom-btn-group(ng-show="ctrl.tree.isModified")
            md-button.md-raised.skyblue(
                nb-dialog
                template-url="partials/orgs/shared/effect_changes.html"
                has-permission="departments_active"
                ) 生 效
            md-button.md-raised.white(
                has-permission="departments_revert"
                nb-confirm="ctrl.revert(isConfirm)"
                nb-title="您确认要撤销当前的所有修改吗?"
                nb-content="当你点击确定时，你之前对机构做过的调整将被撤销。") 撤 销
    md-sidenav.org-sidebar-right.md-sidenav-right.md-whiteframe-z2(md-is-locked-open="true")
        .org-row(ng-controller="OrgCtrl as orgCtrl")
            include org

