.app-content-wrapper.org-pos-list
    .org-modal-posttop 岗位信息列表
        button.btn.btn-default.fa.fa-trash-o(
            title="请选择要删除的岗位"
            ng-disabled="ctrl.getSelectsIds().length == 0"
            nb-confirm="ctrl.batchRemove(isConfirm)"
            nb-title="您确定要删除所选的{{ctrl.getSelectsIds().length}}个岗位吗?"
            nb-text="删除操作将在你点击确定后执行，岗位删除后将无法恢复。")
        //- button.btn.btn-default.fa.fa-pencil(title="编辑")
        button.btn.btn-default.fa.fa-plus(
            title="新增岗位"
            nb-dialog="partials/orgs/position_add.html"
            nb-dialog-scope="this"
            )
        button.btn.btn-info(title="", nb-popup-plus, position="left-bottom", offset="0.05") 调整机构
            popup-template.nb-popup.org-default-popup-template.panel.panel-default()
                .panel-heading.popup-title 组织机构
                .panel-body.popup-body
                    div(slimscroll height="300px")
                        nb-org-tree(tree-data="allOrgs" ng-model="ctrl.selectOrg")
                .panel-footer.clearfix.button-group
                    //- div.btn.btn-info.pull-right.btn-submit(popup-close, ng-click="ctrl.posTransfer()") 确 定
                    .btn.btn-info.pull-right.btn-submit(
                        popup-close
                        ng-disabled="!(ctrl.getSelectsIds().length != 0 && (!!ctrl.selectOrg))"
                        nb-confirm="ctrl.posTransfer(isConfirm)"
                        nb-title="您确定要将所选的{{ctrl.getSelectsIds().length}}个岗位，调整到{{ctrl.selectOrg.name}}吗?"
                        nb-text="岗位调整操作将在你点击确定后执行。") 确 定
                    div.btn.btn-default.pull-right(popup-close) 取 消

        //- .pull-right.nb-dropdown(simple-dropdown, btn-text="导出")
        //-     li( role="presentation")
        //-         a(role="menuitem" ng-href="/api/positions/export_to_xls?department_id={{ctrl.currentOrg.id}}" ) 导出全部岗位
        //-     li( role="presentation",ng-show="ctrl.getSelectsIds().length != 0")
        //-         a(role="menuitem" ng-href="/api/positions/export_to_xls?{{ctrl.getExportParams()}}" ) 导出所选岗位
        //-     li( role="presentation")
        //-         a(role="menuitem" ng-href="/api/positions/export_specification_pdf?department_id={{ctrl.currentOrg.id}}" ) 导出全部岗位描述书
        //-     li( role="presentation",ng-show="ctrl.getSelectsIds().length != 0")
        //-         a(role="menuitem" ng-href="/api/positions/export_specification_pdf?{{ctrl.getExportParams()}}" ) 导出所选岗位描述书
    div(nb-table="ctrl.positions" nb-safe-src="ctrl.positions")
        input(type="hidden" nb-pipe="ctrl.search(tableState)")
        table.table.table-striped.ng-scope.custom-table
            thead
                tr
                    th(select-row="" mode="all")
                    th    岗位名称
                    th    通道
                    th    编制数
                    th    工作时间
                    th    OA文件编号
            tbody
                tr(ng-repeat="pos in ctrl.positions track by pos.id")
                    td.has-checkbox(select-row="pos" mode="multiple")
                    td.org-post
                        a(ui-sref=".detail({posId: pos.id})") {{pos.name}}
                    td(ng-bind="pos.channel.displayName")
                    //- td.org-preparation
                    td
                        span(ng-class="{'overstaffed': pos.isOverstaffed}") {{pos.staffing}}
                        span /{{pos.budgetedStaffing}}
                    td(ng-bind="pos.schedule.displayName")
                    td(ng-bind="pos.oaFileNo")