md-dialog.socialChangeInfo(
        ng-controller="EditableResource"
        ng-init="current = dialog.changeInfo;\
                 current.$refresh();"
    )
    md-toolbar.md-accent(md-theme="hrms")
            .md-toolbar-tools
                span {{socialChanges.length}}变动信息-{{current.category}}
    form(
        ng-submit="save(current.$save(), changeContract)"
        name="changeContract"
        ng-if="current.category == '合同新签'"
        )
        md-content.sticky-container
            include changeInfo/contract
        .md-actions
            md-button.md-primary.md-raised(ng-click="current.state='不做处理';dialog.close()") 不做处理
            md-button.md-primary.md-raised(ng-click="current.state='处理完毕';submit();dialog.close()") 处理完毕
            md-button(ng-click="cancel(current, $event, changeContract);dialog.close()") 关 闭

    form(
        ng-submit="save(current.$save(), changeSalary)"
        name="changeSalary"
        ng-if="current.category == '停薪调'"
        )
        md-content.sticky-container
            include changeInfo/salary
        .md-actions
            md-button.md-primary.md-raised(ng-click="current.state='不做处理';dialog.close()") 不做处理
            md-button.md-primary.md-raised(ng-click="current.state='停交社保';submit(); dialog.close()") 停交社保
            md-button(ng-click="$parent.hello();cancel(current, $event, changeSalary);dialog.close()") 关闭

    form(
        ng-submit="save(current.$save(), changePassage)"
        name="changePassage"
        ng-if="current.category == '公务员通道'"
        )
        md-content.sticky-container
            include changeInfo/passage
        .md-actions
            md-button.md-primary.md-raised(ng-click="current.state='不做处理';dialog.close()") 不做处理
            md-button.md-primary.md-raised(ng-click="current.state='处理完毕';submit(); dialog.close()") 处理完毕
            md-button(ng-click="cancel(current, $event, changePassage);dialog.close()") 关闭

    form(
        ng-submit="save(current.$save(), changeIdentity)"
        name="changeIdentity"
        ng-if="current.category == '身份证变动'"
        )
        md-content.sticky-container
            include changeInfo/identity
        .md-actions
            md-button.md-primary.md-raised(ng-click="current.state='不做处理';dialog.close()") 不做处理
            md-button.md-primary.md-raised(ng-click="current.state='处理完毕';submit(); dialog.close()") 处理完毕
            md-button(ng-click="cancel(current, $event, changeIdentity);dialog.close()") 关闭

    form(
        ng-submit="save(current.$save(), changeDependency)"
        name="changeDependency"
        ng-if="current.category == '属地变化'"
        )
        md-content.sticky-container
            include changeInfo/dependency
        .md-actions
            md-button.md-primary.md-raised(ng-click="current.state='不做处理';dialog.close()") 不做处理
            md-button.md-primary.md-raised(ng-click="current.state='处理完毕';submit(); dialog.close()") 处理完毕
            md-button(ng-click="cancel(current, $event, changeDependency);dialog.close()") 关闭

    form(
        ng-submit="save(current.$save(), changeSalaryStop)"
        name="changeSalaryStop"
        ng-if="current.category == '停薪调停止'"
        )
        md-content.sticky-container
            include changeInfo/salary_stop
        .md-actions
            md-button.md-primary.md-raised(ng-click="current.state='不做处理';dialog.close()") 不做处理
            md-button.md-primary.md-raised(ng-click="current.state='恢复社保';submit();dialog.close()") 恢复社保
            md-button(ng-click="ctrl.search({employeeNo: '003740'});cancel(current, $event, changeSalaryStop);dialog.close();") 关闭