.app-content-wrapper(flex ng-controller="socialComputeCtrl as ctrl")
    md-toolbar.toolbar--welfare
        .md-toolbar-tools
            span(layout)
                label 月度
                md-select(ng-model="ctrl.currentYear" ng-change="ctrl.exeCalc()" placeholder="请选择年份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.year_list track by $index" ng-bind="item")
                label(flex-order="2") 年
                md-select(ng-model="ctrl.currentMonth" ng-change="ctrl.exeCalc()" placeholder="请选择月份")
                    md-option(ng-value="item" ng-repeat="item in ctrl.month_list track by $index" ng-bind="item")
                label(flex-order="3") 月
            span(flex)
            span
                md-button.md-raised.md-primary(
                    nb-dialog
                    template-url="partials/welfares/socials/salary_upload.html"
                    ) 上传薪酬
            span
                md-button.md-raised.md-primary(
                    ng-click="ctrl.exeCalc()"
                    ) 计算
            span
                md-menu(ng-init="selectedRows=[]")
                    md-button.md-primary.md-raised(
                        ng-click="selectedRows = ctrl.getSelectsIds(); $mdOpenMenu($event)"
                        ) 导出
                    md-menu-content
                        md-menu-item()
                            a.md-button(flex ng-href="/api/employees/export_to_xls") 导出全部人员
                        md-menu-item(ng-if="selectedRows.length > 0")
                            a.md-button(
                                nb-download
                                url-prefix="/api/employees/export_to_xls?employee_ids=#param#"
                                param-getter="ctrl.getSelectsIds()"
                                href="javascript:;"
                                download
                            ) 导出所选人员

    div.ui-grid-container.mt5
        md-toolbar
            .md-toolbar-tools
                h2 当期社保

        div(nb-grid column-defs="ctrl.columnDef" grid-selection safe-src="ctrl.socialRecords")


