div(ng-controller='LoginCtrl')
  .error_msg {{loginerror}}
  form.form-horizontal(accept-charset='UTF-8', ng-submit='login(user)')
    .login-input
      input(
        required='',autofocus='autofocus'
        name='user[login]', ng-model='user.login'
        placeholder=' 邮箱，员工号 ', size='30', type='text')
      input(
        required='', name='user[password]'
        ng-model='user.password', placeholder=' 密码 '
        size='30', type='password')
      input(type='submit')
    .login-bottom
      label
        input(name='user[remember_me]', type='hidden', value='0')
        input#ua-signin-checkbox-rememberme(name='user[remember_me]', type='checkbox', value='1')
        | 下次自动登录
        #ua-signin-rememberme.ua-checkbox-rememberme  
      .login-operation
        a(href='/password/new') 忘记密码？
        a(ui-sref='auth.register', style='margin-right: 6px; float: right; margin-top: -11px;') 没有账号？获取账号
