extends leave_layout

block vars
    - var flowType = 'Flow::SickLeave'
    - var flowName = '病假'

block relation_data
    div.flow-info-row(layout)
        .flow-info-cell(flex)
            .flow-cell-title 假别
            .flow-cell-content #{flowName}

block form
    div(layout)
        md-input-container(flex)
            label 开始日期
            input(ng-model="request.start_time" ng-change="calculateTotalDays(request, '#{flowName}')" name="start_time" bs-datepicker required)
        md-input-container.row-has-value(style="flex: 0 0 150px;")
            label 详细时间
            md-select(ng-model="request.start_time" ng-change="calculateTotalDays(request, '#{flowName}')" md-on-open="loadStartTime()" ng-disabled="!request.start_time" required)
                md-select-label {{request.start_time | mdate: 'H:mm' ||'无'}}
                md-option(ng-value="time" ng-repeat="time in start_times" ) {{time | mdate: 'H:mm'}}
    div(layout)
        md-input-container(flex)
            label 结束日期
            input(ng-model="request.end_time" ng-change="calculateTotalDays(request, '#{flowName}')" name="end_time" required bs-datepicker)
        md-input-container.row-has-value(style="flex: 0 0 150px;")
            label 详细时间
            md-select(ng-model="request.end_time" ng-change="calculateTotalDays(request, '#{flowName}')" md-on-open="loadEndTime()" ng-disabled="!request.end_time" required)
                md-select-label {{request.end_time | mdate: 'H:mm' ||'无'}}
                md-option(ng-value="time" ng-repeat="time in end_times" ) {{time | mdate: 'H:mm'}}
    div(layout)
        .without-edit
            div.progress-wrapper(ng-if="calculating")
                md-progress-circular(md-mode="indeterminate")
            div(ng-if="!calculating")
                div.without-edit-title 天数
                div.without-edit-content {{ vacation_days }} 天
    div(layout)
        md-input-container(flex)
            label 申请理由
            textarea(ng-model="request.reason" columns="1" md-maxlength="2000")
    md-subheader.accessory-header.md-background.md-hue-1 附件
    div(nb-file-upload flow-type="#{flowType}" ng-model="request.attachment_ids")
