section.self_performance(ng-init="ctrl.loadPerformance()")
    .personnel-content-body
        .personnel-section-wrap
            md-content.performance-content
                .performance-list-item(ng-repeat="group in ctrl.performances | toArray: true | big2small")
                    .subheader--center(ng-init="$first? show=true:''")
                        .subheader__content
                            span.subheader__icon
                                img(src="/images/personnel/subh-icon.png", alt="icon--plane")
                            span {{group[0].assessYear}}年绩效
                        .subheader__btns(ng-click="show = !show")
                            button
                                md-icon(md-svg-src="md-toggle-arrow" ng-class="{'toggled': show}")

                    .form-table-container(
                        ng-class="{'open': show}"
                        )
                        table.table.table-mc-light-blue.table-bordered
                            thead
                                tr
                                    th 考核时段
                                    th 绩效
                                    th(width="25%") 附件
                                    th(width="25%") 申述
                            tbody
                                tr(ng-repeat="performance in group")
                                    td(ng-bind="performance.assessTime")
                                    td(ng-bind="performance.result")
                                    td
                                        a(
                                            ng-if="performance.attachmentStatus"
                                            nb-dialog
                                            template-url="partials/self/performance/attachments.html"
                                            locals="{performance:performance}"
                                            ) 查看
                                    td.control-td
                                        a(
                                            ng-if="!performance.allegeStatus"
                                            nb-dialog
                                            template-url="partials/self/performance/represent.html"
                                            locals="{performance: performance}"
                                            ) 绩效申述
                                        span(ng-if="performance.allegeStatus") 已申诉
