section.self_performance
    .personnel-content-body
        .personnel-section-wrap()
            md-toolbar
                .md-toolbar-tools
                    span 绩效考核
            md-content.performance-content
                .performance-list-item
                    .item-action
                        md-button(ng-click="show = !show")
                            div(layout)
                                span 2015年绩效
                                span(flex)
                                span.md-toggle-icon(ng-class="{'toggled': show}")
                                    md-icon(md-svg-src="md-toggle-arrow")
                    .form-table-container(
                        ng-class="{'open': show}"
                        )
                        table.table.table-mc-light-blue.table-bordered
                            thead
                                tr
                                    th 考核时段
                                    th 绩效
                                    th 附件
                                    th 申述
                            tbody
                                tr
                                    td
                                        | 2015-5
                                    td
                                        | 良好
                                    td
                                        a(
                                            nb-panel
                                            template-url="partials/personnel/performance/rfc.html"
                                            locals="{currentUser:current}"
                                            ) 查看
                                    td.control-td
                                        a(
                                            nb-dialog
                                            template-url="partials/self/performance/represent.html"
                                            locals="{currentUser:current}"
                                            ) 绩效申述
                                tr
                                    td
                                        | 2015-4
                                    td
                                        | 良好
                                    td
                                        a 查看
                                    td.control-td
                .performance-list-item
                    .item-action
                        md-button(ng-click="show = !show")
                            div(layout)
                                span 2015年绩效
                                span(flex)
                                span.md-toggle-icon(ng-class="{'toggled': show}")
                                    md-icon(md-svg-src="md-toggle-arrow")
                    .form-table-container(
                        ng-class="{'open': show}"
                        )
                        table.table.table-mc-light-blue.table-bordered
                            thead
                                tr
                                    th 考核时段
                                    th 绩效
                                    th 附件
                                    th 申述
                            tbody
                                tr
                                    td
                                        | 2015-5
                                    td
                                        | 良好
                                    td
                                        a(
                                            nb-panel
                                            template-url="partials/personnel/performance/rfc.html"
                                            locals="{currentUser:current}"
                                            ) 查看
                                    td.control-td
                                        a(
                                            nb-dialog
                                            template-url="partials/self/performance/represent.html"
                                            locals="{currentUser:current}"
                                            ) 绩效申述
                                tr
                                    td
                                        | 2015-4
                                    td
                                        | 良好
                                    td
                                        a 查看
                                    td.control-td







