md-dialog.sample-dialog(
    ng-init="performance = dialog.performance;attachments = performance.attachments.$refresh();\
            outerScope = dialog.outerScope;\
    "

    )
    md-toolbar.md-accent(md-theme="hrms")
        .md-toolbar-tools
            span 附件列表
    md-content
        form
            .dialog-content.show-text()
                .accessory-container
                    .accessory-cell(ng-repeat="attachment in attachments")
                        div(ng-if="outerScope.ctrl.isImgObj(attachment)" nb-gallery img-obj="attachment" style="cursor: pointer;")
                            .accessory-name() {{attachment.name}}
                            .accessory-size() {{attachment.size | byteFmt:2}}
                            .accessory-switch
                                md-button.md-icon-button(type="button" ng-click="outerScope.ctrl.attachmentDestroy(attachment, $event)" ng-if="outerScope.ctrl.USER_META.id == attachment.employeeId")
                                    md-icon.md-warn(md-svg-src="/images/svg/close.svg")
                        div(ng-if="!outerScope.ctrl.isImgObj(attachment)" style="cursor: pointer;")
                            a(
                                style="display: block; color: rgba(0,0,0,0.87)"
                                ng-href="{{attachment.default}}"
                                download
                                )
                                .accessory-name() {{attachment.name}}
                                .accessory-size() {{attachment.size | byteFmt:2}}
                                .accessory-switch
                                    md-button.md-icon-button(type="button" ng-click="outerScope.ctrl.attachmentDestroy(attachment, $event)" ng-if="outerScope.ctrl.USER_META.id == attachment.employeeId")
                                        md-icon.md-warn(md-svg-src="/images/svg/close.svg")
                .accessory-btn-group(ng-if="dialog.can_upload"
                    flow-init="{target: '/api/attachments/upload_file', testChunks:false, uploadMethod:'POST', singleFile:true}"
                    flow-files-submitted="$flow.upload()"
                    flow-file-success="ctrl.uploadAttachments(performance, attachments, $message);")
                    md-button.md-primary.md-raised(flow-btn type="button") 文件上传


    .md-actions
        md-button.md-primary.md-raised(type="submit" ng-click='dialog.close()') 关 闭

