.app-content-wrapper(flex ng-controller="dinnerPersonalCtrl as ctrl")
    div(nb-filter="ctrl.filterOptions" on-search="ctrl.search(state)")
    div.ui-grid-container
        md-toolbar
            .md-toolbar-tools
                h2 工作餐个人设置
                div(flex)
                md-button.md-primary.md-raised(
                    ng-disabled="ctrl.getSelectsIds().length == 0"
                    ng-click="ctrl.batchDelete(ctrl.getSelectsIds())"
                    ) 批量删除
                md-button.md-primary.md-raised(
                    nb-dialog
                    template-url="/partials/welfares/dinners/new_dinner.html"
                    locals="{ctrl: ctrl}"
                    ) 新建工作餐

        div(
            nb-grid
            column-defs="ctrl.columnDef"
            on-register-api="ctrl.exportGridApi(gridApi)"
            export-api
            grid-selection
            multi-select="true"
            safe-src="ctrl.configurations"
            )