md-dialog.welfare_personal_new(
    ng-init= "newSetup = {socialLocation: '成都', pension: true, treatment: true, unemploy: true, injury:true,illness:true,fertility:true}; ctrl.loadEmp = {};"
    )
    form(ng-submit="ctrl.newPersonalSetup(newSetup);dialog.close();" name="newPersonalSetupForm")
        md-toolbar.md-accent(md-theme="hrms")
                .md-toolbar-tools
                    span 新建社保
        md-content.sticky-container
            .dialog-content(layout layout-align="center")
                section.form-material-section(flex)
                    fieldset
                        div(style="display:none;")
                            input(type="text" ng-model="newSetup.employeeId")
                        div(layout)
                            md-input-container(flex)
                                label 姓名
                                input(type="text" ng-model="ctrl.loadEmp.name" name="name" required
                                    ng-model-options="{debounce: {'default': 500, 'blur':0}}"
                                    ng-blur="ctrl.loadEmployee({name:ctrl.loadEmp.name}, newSetup);"
                                    )
                            md-input-container(flex)
                                label 员工编号
                                input(type="text" ng-model="ctrl.loadEmp.employeeNo" required
                                    ng-model-options="{debounce: {'default': 500, 'blur':0}}"
                                    ng-blur="ctrl.loadEmployee({employee_no:ctrl.loadEmp.employeeNo}, newSetup);"
                                    )

                        div(layout)
                            md-input-container(flex)
                                label 所在部门
                                input(type="text" ng-model="ctrl.loadEmp.department.name" readonly)
                            md-input-container.row-has-value(flex)
                                label 工作属地
                                md-select(ng-model="ctrl.loadEmp.locationId" disabled)
                                    md-option(ng-repeat="item in $enum.get('locations')" ng-value="item.id") {{item.label}}

                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 通道
                                md-select(ng-model="ctrl.loadEmp.channelId" disabled)
                                    md-option(ng-repeat="item in $enum.get('channels')" ng-value="item.id") {{item.label}}
                            md-input-container(flex)
                                label 身份证
                                input(type="text" ng-model="ctrl.loadEmp.identityNo" readonly)

                        div(layout)
                            md-input-container.row-has-value(flex)
                                label 社保属地
                                md-select(ng-model="newSetup.socialLocation" required)
                                    md-option(value="成都") 成都
                                    md-option(value="重庆") 重庆
                                    md-option(value="北京") 北京
                                    md-option(value="上海") 上海
                                    md-option(value="广州") 广州
                                    md-option(value="深圳") 深圳
                            md-input-container(flex md-no-float)
                                label 社保编号
                                input(type="text" ng-model="newSetup.socialAccount")

                        div(layout)
                            md-input-container(flex)
                                label 年度养老保险
                                input(type="number" min="0" max="100000" step="0.01" ng-model="newSetup.pensionCardinality")
                            md-input-container(flex)
                                label 年度其他保险
                                input(type="number" min="0" max="100000" step="0.01" ng-model="newSetup.otherCardinality")

                        div(layout)
                            md-input-container(flex)
                                label 社保临时基数
                                input(type="number" min="0" max="100000" step="0.01" ng-model="newSetup.tempCardinality")

                        div.checkbox-row
                            label 险种选择
                            ul
                                li
                                    md-checkbox.md-primary(ng-model="newSetup.pension") 养老
                                li
                                    md-checkbox.md-primary(ng-model="newSetup.treatment") 医疗
                                li
                                    md-checkbox.md-primary(ng-model="newSetup.unemploy") 失业
                                li
                                    md-checkbox.md-primary(ng-model="newSetup.injury") 工伤
                                li
                                    md-checkbox.md-primary(ng-model="newSetup.illness") 大病
                                li
                                    md-checkbox.md-primary(ng-model="newSetup.fertility") 生育



        .md-actions
            md-button(type="button" ng-click='dialog.close()') 取 消
            md-button.md-primary.md-raised(type="submit") 确 定
