md-dialog.normal
  md-toolbar.md-accent(md-theme="hrms")
    .md-toolbar-tools
      span 条件设置 {{::grade}}档
  form(ng-init="current=dialog.current;ctrl=dialog.ctrl;grade=dialog.grade;origin={'expr': current['expr'], 'desc': current['format_cell']};input_expr=ctrl.exchangeExpr(current['expr'], true);" ng-submit="$event.preventDefault()")
    md-content.sticky-container
      div(layout="row" layout-margin)
        div()
          p 参数调用说明:
          table.table.table-bordered(style="border:1px solid #ccc;width:450px;")
            tr(style="background-color:#fcfcfc;border-bottom:1px solid #aaa;")
              th(width="150px")
                strong 变量名称
              th
                strong 输入举例
            tr
              td 调档时间
              td 调档时间 >= 2
            tr
              td 驾驶经历时间
              td 驾驶经历时间 >= 2
            tr
              td 驾驶经历时间
              td 驾驶经历时间 >= 2
            tr
              td 飞行时间
              td 飞行时间 >= 4000
            tr
              td 员工学历
              td 员工学历 >= 本科 or 大专
            tr
              td 员工职级
              td 职级 >= 初级 or 中级 or 高级
            tr
              td 去年年度绩效
              td 去年年度绩效 == 及格 or 良好 or 优秀
            tr
              td 本企业经历时间
              td 本企业经历时间 >= 2
            tr
              td 无人为飞行事故
              td 无人为飞行事故 == 0
            tr
              td 无安全严重差错
              td 无安全严重差错 == 0
        div()
          p 关系符号说明:
          table.table.table-bordered(style="border:1px solid #ccc;width:300px;")
            tr(style="background-color:#fcfcfc;border-bottom:1px solid #aaa;")
              th(width="150px")
                strong 关系名称
              th
                strong 说明
            tr
              td and
              td 并且关系
            tr
              td or
              td 或者
            tr
              td ( )
              td 括号，优先计算

      div(layout="row" layout-margin)
        md-input-container(flex)
          label 输入条件描述
          textarea(columns="1" ng-model="current['format_cell']")

      div(layout="row" layout-margin)
        md-input-container(flex ng-init="ctrl.searchText=input_expr")
          //- label 输入数学公式
          md-autocomplete(
              md-selected-item="ctrl.selectedItem"
              md-selected-item-change="input_expr=ctrl.selectedItem"
              md-search-text-change="input_expr=ctrl.searchText"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.queryVariables(ctrl.searchText)"
              md-min-length="0"
              md-floating-label="输入数学公式"
              md-input-name="Maths"
              )
              md-item-template
                  span {{item}}
          //- textarea(columns="1" ng-model="input_expr" ng-change="current['expr']=ctrl.exchangeExpr(input_expr)")

    .md-actions
      md-button(type="button" ng-click="current['expr']=origin.expr;current['format_cell']=origin.desc;dialog.close()") 取消更改
      md-button.md-primary.md-raised(type="submit" ng-click="dialog.close()") 完成输入